/molhub/target
/molhub/.settings
/CoMoChemistry/*.gitignore
/CoMoChemistry/*.project
/CoMoChemistry/*.classpath
/CoMoEnthalpyEstimation/*.gitignore
/CoMoEnthalpyEstimation/*.project
/CoMoEnthalpyEstimation/*.classpath
/CoMoEnthalpyEstimationPaper/*.classpath
/CoMoEnthalpyEstimationPaper/*.gitignore
/CoMoEnthalpyEstimationPaper/*.project
/CoMoIOChemistry/*.gitignore
/CoMoIOChemistry/*.project
/CoMoIOChemistry/*.classpath
/CoMoMath/*.gitignore
/CoMoMath/*.project
/CoMoMath/*.classpath
/CoMoNISTWebbook/*.project
/CoMoNISTWebbook/*.classpath
/CoMoNISTWebbook/*.gitignore
/CoMoOntology/*.classpath
/CoMoOntology/*.gitignore
/CoMoOntology/*.project
/CoMoOntology/*.pydevproject
/CoMoOpenBabel/*.gitignore
/CoMoOpenBabel/*.project
/CoMoOpenBabel/*.classpath
/CoMoThermodynamics/*.gitignore
/CoMoThermodynamics/*.project
/CoMoThermodynamics/*.classpath
/CoMoTools/*.classpath
/CoMoTools/*.gitignore
/CoMoTools/*.project
/CoMoCompChem/*.gitignore
/CoMoCompChem/*.project
/CoMoCompChem/*.classpath
/CoMoChemistry/.settings/
/CoMoChemistry/bin/
/CoMoCompChem/.settings/
/CoMoCompChem/bin/
/CoMoEnthalpyEstimation/.settings/
/CoMoEnthalpyEstimation/bin/
/CoMoEnthalpyEstimationPaper/bin/
/CoMoEnthalpyEstimationPaper/test_data/test_results/hco_hd/9ee1c7d1-1ccb-3724-ad10-11448dd2a8b9/
/CoMoEnthalpyEstimationPaper/test_data/test_results/hco_isd/e02cfae4-6218-31f9-93f5-64f28a2ad180/
/CoMoEnthalpyEstimationPaper/test_data/test_results/ti_isg/64d12521-d8be-3b39-9b93-9b597c53ae52/
/CoMoEnthalpyEstimationPaper/test_data/test_results/ti_isg/d0e13aa5-70ea-37d5-b49f-6a064a5bc82e/
/CoMoIOChemistry/.settings/org.eclipse.wst.validation.prefs
/CoMoMath/.settings/
/CoMoMath/bin/
/CoMoNISTWebbook/.settings/
/CoMoNISTWebbook/bin/
/CoMoOpenBabel/.settings/
/CoMoOpenBabel/bin/
/CoMoThermodynamics/.settings/
/CoMoThermodynamics/bin/
/CoMoTools/.settings/
/CoMoTools/bin/
/desktop.ini

/CoMoIOChemistry/.settings
/CoMoOntology/.settings
