/* top-banner */
#topBanner {
    background-color: #10616C;
    border-radius: 0px;
    margin: 0px;
}

/* styles.css */
body {
	width: 100%;
	height: 100%;
}

label {
    margin-bottom: 0px;
}

/* bootstrap */
.content.container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 2rem;
}

.col-lg-4 {
    padding-left: 0px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.row#analysis {
    padding-bottom: 20px;
}

.input-label {
    padding-left: 0px;
}

/* dropdown table */
select#plantSelection {
    height: 26px;
}

select#analysisSelection {
    height: 26px;
}

/* start simulation button */
input[type="submit"] {
    margin-left: 5px;
}

/* d3-images */
svg {
	font: 10px sans-serif;
    margin-top: 0px;
    width: 615px;
    height: 350px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.grid path,
.grid line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.25);
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 2.5px;
}