#topBanner {
    background-color: #10616C;
    border-radius: 0px;
    margin: 0px;
}

svg.line-chart {
    margin-top: 5rem;
}


.content {
    height: 100%;
    margin: 2rem;
    padding: 0px;
}

.container {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0px;
    width: 100%;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.input-label {
    padding-left: 0px;
}