<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="connectionFactoryLocator" class="org.springframework.social.connect.support.ConnectionFactoryRegistry">
        <property name="connectionFactories">
            <list>
                <bean class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
                    <constructor-arg value="${facebook.clientId}" />
                    <constructor-arg value="${facebook.clientSecret}" />
                </bean>
            </list>
        </property>
    </bean>

    <bean id="databaseConnector" class="uk.ac.bcu.kbe.enalgae.dao.gis.DatabaseConnector">
        <constructor-arg index="0" value="jdbc:postgresql://localhost:5432/enalgae"/>
        <constructor-arg index="1" value="postgres"/>
        <constructor-arg index="2" value="P05tgr35q1"/>
    </bean>
</beans>