ONTOAGENT_SERVICE_IRI=https://www.theworldavatar.com/kg/agents/Service__Vapourtec/Service
DERIVATION_PERIODIC_TIMESCALE=5
DERIVATION_INSTANCE_BASE_URL=https://www.theworldavatar.com/triplestore/repository/
SPARQL_QUERY_ENDPOINT=http://localhost:8080/blazegraph/namespace/kb/sparql
SPARQL_UPDATE_ENDPOINT=http://localhost:8080/blazegraph/namespace/kb/sparql
KG_USERNAME=
KG_PASSWORD=
FILE_SERVER_ENDPOINT=
FILE_SERVER_USERNAME=
FILE_SERVER_PASSWORD=
ONTOAGENT_OPERATION_HTTP_URL=http://localhost:7000/Vapourtec
REGISTER_AGENT=true

VAPOURTEC_DIGITAL_TWIN=http://placeholder/vapourtec_digital_twin
VAPOURTEC_STATE_PERIODIC_TIMESCALE=5
VAPOURTEC_IP_ADDRESS=localhost
FCEXP_FILE_CONTAINER_FOLDER=/app/vapourtec
FCEXP_FILE_HOST_FOLDER=D:\Vapourtec\FCEXP
FCEXP_TEMPLATE_FILENAME=ReactionTemplate.fcexp
DRY_RUN=false
