version: '3.8'

services:
  vapourtecagent:
    image: ghcr.io/cambridge-cares/vapourtec_agent:1.0.0-SNAPSHOT
    container_name: vapourtec_agent
    environment:
      LOG4J_FORMAT_MSG_NO_LOOKUPS: "true"
      EMAIL_AUTH_JSON_PATH: /run/secrets/email_auth
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 7000:5000
    extra_hosts: # NOTE this ensures FlowCommander to be reachable via "host.docker.internal"
      - host.docker.internal:host-gateway
    env_file:
      - ./vapourtecagent/tests/agent.vapourtec.env.test
    volumes:
      - ./FCRemote.dll:/app/FCRemote.dll
      - ./FCRemoteCSV.dll:/app/FCRemoteCSV.dll
      - type: bind
        source: ./vapourtecagent/tests/_for_docker_integration_test
        target: /app/vapourtec
    secrets:
      - email_auth
    entrypoint: ["gunicorn", "--bind", "0.0.0.0:5000", "vapourtecagent:create_app()", "--preload"]

  # Blazegraph
  blazegraph:
    image: ghcr.io/cambridge-cares/blazegraph:1.1.0
    container_name: "blazegraph_vapourtec_test"
    ports:
      - 48082:8080
    environment:
      BLAZEGRAPH_PASSWORD_FILE: /run/secrets/blazegraph_password
    # Add a secret to set the password for BASIC authentication
    secrets:
      - blazegraph_password

  # File server
  fileserver:
    image: ghcr.io/cambridge-cares/fileserver:1.1.0
    container_name: "fileserver_vapourtec_test"
    ports:
      - 48086:8080
    # Add secret to set BASIC authentication password
    secrets:
      - file_server_password

# Secrets used to set runtime passwords
secrets:
  blazegraph_password:
    file: ./vapourtecagent/tests/dummy_services_secrets/blazegraph_passwd.txt
  file_server_password:
    file: ./vapourtecagent/tests/dummy_services_secrets/fileserver_passwd.txt
  email_auth:
    file: vapourtecagent/tests/dummy_services_secrets/email_auth.json
