version: "3.8"

services:
  ship-input-agent:
    image: ghcr.io/cambridge-cares/ship-input-agent:1.3
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: none
    environment:
      - STACK_NAME=${STACK_NAME}
      - DATABASE=postgres # currently ontop reads from the default database
      - DATA_DIR=/data
      - LAST_READ_FILE=/misc/last_read_file # stores the last read json file, so that the agent chooses the next following file correctly
      - TIME_OFFSET_FILE=/misc/time_offset_file # when files in the data folder are exhausted, a time offset is added and the data is cycled through again
      - GEOSERVER_WORKSPACE=dispersion
      - EMISSIONS_AGENT_URL=http://${STACK_NAME}-emissions-agent:8080/EmissionsAgent/
      - EMISSIONS_AGENT_IRI=http://theworldavatar.com/kg/dispersion/EmissionsAgent
      - PYTHON_SERVICE_URL=http://${STACK_NAME}-python-service:5000
      - PARALLELISE_CALCULATIONS=true
    configs:
      - postgis
      - blazegraph
      - geoserver
      - ontop
    secrets:
      - postgis_password
      - geoserver_password
    ports:
      - "8082:8080"
    volumes:
      - logs:/root/.jps
      - misc:/misc
      - ./data:/data
    networks:
      - stack

volumes:
  logs:
    name: "${STACK_NAME}_logs"
  misc:
    name: "misc"
