version: "3.8"

services:
  ship-input-agent:
    image: ghcr.io/cambridge-cares/ship-input-agent:1.4
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: none
    configs:
      - postgis
      - blazegraph
      - geoserver
      - ontop
    secrets:
      - postgis_password
      - geoserver_password
    networks:
      - stack
