version: "3.8"

services:
  inequalityindexagent:
    image: ghcr.io/cambridge-cares/inequalityindexagent:1.0.0-SNAPSHOT
    environment:
      #--- Stack & Stack Client parameters ---#
      - STACK_NAME=${STACK_NAME}
      # Specify PostGIS/PostgreSQL database name
      - DATABASE=postgres
      # Specify Blazegraph namespace
      - NAMESPACE=heatpump
      #--- Derivation Agent parameters ---#
      # For details, see: https://github.com/cambridge-cares/TheWorldAvatar/blob/main/JPS_BASE_LIB/python_derivation_agent/pyderivationagent/conf/agent_conf.py
      - ONTOAGENT_SERVICE_IRI=http://www.theworldavatar.com/resource/agents/Service__KL_InequalityIndexCalculation/Service
      # Host and port of ONTOAGENT_OPERATION_HTTP_URL should match port specified in `port` node below
      - ONTOAGENT_OPERATION_HTTP_URL=http://localhost:5300/InequalityIndexCalculation
      - DERIVATION_INSTANCE_BASE_URL=https://www.theworldavatar.com/kg/derivation/
      - DERIVATION_PERIODIC_TIMESCALE=604800
      - REGISTER_AGENT=true
      # Required inputs, although values retrieved from Stack clients actually used when initialising DerivationAgent
      - SPARQL_QUERY_ENDPOINT=''
      - SPARQL_UPDATE_ENDPOINT=''
      # Required inputs, although not used when initialising DerivationAgent
      - KG_USERNAME=''
      - KG_PASSWORD=''
      - FILE_SERVER_ENDPOINT=''
      - FILE_SERVER_USERNAME=''
      - FILE_SERVER_PASSWORD=''
      #--- Miscellaneous ---#
      #TODO: Check whether that's still needed
      - LOG4J_FORMAT_MSG_NO_LOOKUPS=true
      # --- Index / Assumptions Space --- #
      # !!!! NO SPACING AFTER '='!!!!

      # Minimal and Maximal fuel poverty, will be used for normalization purpose
      - MIN_FP=0
      - MAX_FP=0.2
    ports:
      - "5300:5000"
    volumes:
      - logs:/root/.jps
    configs:
      - blazegraph
      - postgis
      - ontop
    secrets:
      - postgis_password

volumes:
  logs:
    name: "logs"
