__pycache__/
build/
dist/
*~*
.vscode/
*venv/
.mypy_cache/
coverage.xml
resources/
.coverage
*.gv
*.png

## User defined
# Miscellaneous files/folders:
# ignore all environment files *.env
*.env

# email_auth
email_auth.json

# python package related
*.egg-info

# mkdocs documentation
/site
