.loadingContainer {
  width: 500px;
  height: 600px;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
}

.loadingContainer h1 {
  width: 500px;
  text-align: center;
  font-size: var(--font-size-h1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.default {
  border: 0.4rem solid rgba(0, 0, 0, 0.1);
  border-top: 0.4rem solid #3498db;
  width: var(--large-icon-size);
  height: var(--large-icon-size);
}

.small {
  border: 0.15rem solid rgba(0, 0, 0, 0.1);
  border-top: 0.15rem solid #3498db;
  width: var(--smallest-icon-size);
  height: var(--smallest-icon-size);
}