.ribbon {
    width: 100%;

    display: flex !important;
    flex-direction: row;

    padding-left: 1rem;
    z-index: 1;
    pointer-events: all;

    background-color: var(--background-tertiary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    align-items: center;
}

.ribbonTabs {
    height: 50px;
    background-color: var(--background-secondary);
    border-width: 0px 0px 1px 0px;
    border-color: var(--background-secondary);
    border-style: solid;
}

.ribbonTab {
    font-family: inherit !important;
    font-size: var(--font-size-secondary-text);
    font-weight: bold;
    color: var(--text-color-primary);
    transition: background-color 0.5s ease;
}

.ribbonTab:hover {
    background-color: var(--background-tertiary);
}

.ribbonTabActive {
    font-family: inherit !important;
    font-size: var(--font-size-secondary-text);
    font-weight: bold;
    background-color: var(--background-tertiary);
    color: inherit !important;
}

.selectedScenarioDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    height: 100%;
}

.navbarScenarioIcon {
    height: 30px;
    margin: 0 0.5rem;
}

@media (max-width: 430px) {
    .scenarioDisplayText {
        display: none;
    }
}