.container {
    width: 100%;
    height: 100%;

    background-image: url("/img/background.svg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 100%;
    height: 50px;
    padding-left: 20px;
}

.contentOuter {
    flex-grow: 1;

    height: 90%;
    max-width: 90%;
    overflow-y: hidden;
    margin-bottom: 50px;
    
    background-color: var(--background-primary) !important;
    border: 1px solid var(--border-primary) !important; 

    border-radius: 25px !important;
    padding: 25px !important;
}
.contentInner {
    width: 100%;
    height: 100%;
    padding-right: 24px;
    overflow-y: auto;
    background-color: inherit !important;
}
