.container {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px;

    background-color: var(--background-secondary) !important;
    color: var(--text-color-primary) !important;
    border-radius: 20px !important;

    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.container:hover {
    background-color: var(--background-tertiary) !important;
    outline: 1px solid var(--border-secondary) !important;
}
.content {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.title {
    border: 1px solid var(--border-secondary);
    border-width: 0px 0px 1px 0px;
    margin-bottom: 5px;
}
.title h1 {
    font-size: 16pt;
}

.description {
    font-size: 12pt;
}

.thumbnail {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    filter: drop-shadow(4px 4px 2px rgb(0 0 0 / 0.25));
}