version: "3.8"

services:
  osmagent:
    image: ghcr.io/cambridge-cares/osmagent:1.9.2-SNAPSHOT
    build: .
    ports:
      - "10104:8080"
    volumes:
      - ./osmagent/src/main/resources:/resources