.custom-button1 {
    font-size: 15px;
    padding: 7px 15px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.custom-button1:hover {
    background-color: #45a049;
}
.custom-button2 {
    font-size: 15px;
    padding: 7px 10px;
    color: white;
    background-color: #146a7a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:3px;
}
.custom-button2:hover {
    background-color: #5989de;
}