version: '3.8'

services:
  toyageb:
    image: ghcr.io/cambridge-cares/utiliycostcalculationagent_debug:1.0.0-SNAPSHOT
    build:
      context: .
      target: debug
    ports:
      - ${DEBUG_PORT}:5678
    volumes:
      # repository name needs to match "agentdir" build arg in docker-compose-build.yml
      - ./utiliycostcalculationagent:/app/utiliycostcalculationagent
