.container {
  height: 100%;
  width: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container p {
  font-size: var(--font-size-secondary-text);
}

.select-container {
  width: 80%;
  max-width: 200px;
}

.select-container select {
  height: 1rem;
  width: 100%;
  max-width: 200px;
  margin: 2vh auto;
}