<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marie 3.0 Dashboard</title>
    <script src="http://kg.cmclinnovations.com/system/assets/jquery/jquery-2.x.min.js"></script>

</head>
<body>
<div> - Pubchem dependency status: <div id="pubchem_states"></div> </div>
<hr/>
<div> - OntoCompChem dependency status: <div id="ontocompchem_states"></div></div>
<hr/>
<button id="btn_update">Update dependency status</button>
<script src="../static/js/dashboard.js"></script>
</body>
</html>