body{
    overflow-x: hidden;

}
.link {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
}

#licensing {
    fill: green;

}

.link.licensing {
    stroke: green;

}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

circle.nodes {
    stroke: #333;
    stroke-width: 2px;
}

text.nodeTag {
    font: 15px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
#choice-panel{
    height: 150px;
    width:200px;
}

#draw-panel{
    left:0px;
    top:0px;
    padding-top: 0px;
    padding-left: 0px;

}
#checkShowImport{
    margin-left: 0px;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}


.title{

    font-size: 20px;
}

#choice-div{
    z-index:111;

    position: absolute;
    left: 0px;
    bottom: 0px;
    float:left;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #aaaaaa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}
/*Side bar*******************/
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    color:white;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav tr{
    line-height: 40px;

}
.sidebar-nav td{
    width:50%
}
.sidebar-nav button{
    margin-top: 20px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.customHr {
    width: 100%;
    font-size: 1px;
    color: #fefff3;
     height: 4px;

    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 300px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 300px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}