version: "3.8"

services:
  dispersion-interactor:
    image: ghcr.io/cambridge-cares/dispersion-interactor:1.5
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: none
    configs:
      - postgis
      - blazegraph
      - geoserver
    secrets:
      - postgis_password
      - geoserver_password
    networks:
      - stack
