.form-field-container {
  display: flex;
  flex-direction: row;
  margin: 0 0.25rem 1vh;
  flex: 45%;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.form-input-label {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: var(--font-size-tertiary-text);
  white-space: nowrap;
}

.form-input-value {
  width: fit-content;
  max-width: 40vw;
  padding: 0.2rem;

  background-color: var(--background-primary);
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.input-disabled {
  border: 1px inset var(--border-primary);
  background-color: var(--background-secondary);
  opacity: 0.75;
}

.input-disabled:focus {
  outline: none;
}

.field-disabled {
  cursor: not-allowed !important;
}

.dtpicker {
  height: 1.5rem;
  width: 7.5rem;
  max-width: 7.5rem;
  padding-left: 0.25rem;

  background-color: var(--background-primary);
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.dtpicker::-webkit-calendar-picker-indicator {
  filter: invert(var(--invert));
}

.form-checkbox {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.1rem;
  padding: 0.5rem 1.5vw;
  background-color: var(--background-tertiary);
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.form-checkbox-hover:hover {
  outline: 2px solid var(--border-primary);
  background-color: var(--background-secondary);
  color: var(--text-color-secondary);
}

.form-checkbox-checked {
  outline: 2px solid #52B7A5 !important;
  background-color: var(--background-primary);
  color: var(--text-color-primary);
}

.info-icon {
  font-size: var(--font-size-primary-text);
  cursor: pointer;
}

.info-icon:hover {
  color: var(--text-color-links-hover);
}

.info-text {
  position: relative;
  padding: 0.25rem 0.5rem;
  margin: 0.75rem 0 0.5rem;
  font-size: var(--font-size-tertiary-text);
  background-color: var(--background-tertiary);
  transition: all 0.2s ease-in;
  transition-property: max-height padding margin;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.info-text:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -1rem;

  border: solid transparent;
  border-bottom-color: var(--background-tertiary);
  border-width: 0.5rem;
}

.info-text-hidden {
  display: none;
  max-height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  display: none;
}

.info-text-show {
  display: block;
  max-height: fit-content;
  opacity: 1;
}

.field-text {
  font-size: var(--font-size-tertiary-text);
}

.format-label {
  margin-left: 0.5rem;

  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

@media only screen and (max-width: 480px) {
  .form-checkbox {
    width: 25vw;
  }
}