# Useful links for more information about ignoring files:
# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore
# https://www.toptal.com/developers/gitignore

# Binary archives of any kind are not allowed:
*.tar
*.gz
*.zip
*.7z
*.rar
*.tgz
*.hdt

# Integrated Development Environment (IDE)-specific files/folders:
.vscode/
.code-workspace
.idea/
.settings/
.metadata
.classpath
.project
.factorypath

# Java:
*.jar
*.war
*.class
log4j2.xml

# Maven:
target/

# Python:
__pycache__/
*.py[cod]
*$py.class
*.pkl
*.egg-info/
.venv
venv/
.env
env/

# JavaScript:
node_modules/
jspm_packages/

# Compiled/binary output folders:
bin/
build/
dist/

# Mac/OSX-specific files:
.DS_Store

# Windows-specific files:
Thumbs.db

# Miscellaneous files/folders:
/JPS_BMS/workingdir/rdf-xml-output
/JPS/JPS.iml
/JPS_BASE/JPS_BASE.iml
/JPS_BASE_LIB/jps-base.iml
/JPS_POSTGRESQL/JPS_POSTGRESQL.iml
/JPS_SHIP/JPS_SHIP.iml
/python/caresjpsadmsinputs/caresjpsadmsinputs.iml
/JPS_BASE/PythonCustomLibraries/PythonCustomLibraries.iml
/JPS_BASE_LIB/src/uk/ac/cam/cares/jps/base/util/CRSTransformer.java
/JPS_COMPOSITION/JPS_COMPOSITION.iml
/JPS_SHIP/classes/
/JPS/python/caresjpsadmsinputs/caresjpsadmsinputs.iml
/JPS_SHIP/workingdir/test.*
*.index
/JPS_COMPOSITION_LITE/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/JPS_COMPOSITION_LITE/target/m2e-wtp/web-resources/META-INF/maven/uk.ac.cam.cares.jps/JPS_COMPOSITION_LITE/pom.properties
/JPS_Version_0/ADMS/ADMS_JAVA_END/ADMS-Java-11-10-17/ADMS/ADMS_1/src/kb_dev
JPS_DISPERSION/JPS_DISPERSION.iml
*.data-00000-of-00001
geckodriver.log
nlu.md
/JPS_Chatbot/jps-chatbot/UI/data_preparation/Wiki_basic_info/instance_info
/JPS_Chatbot/jps-chatbot/UI/data_preparation/Wiki_basic_info/instance_property_mapping_random_3000
/JPS_Chatbot/jps-chatbot/UI/data_preparation/Wiki_basic_info/instance_property_mapping_first_2000
/JPS_Chatbot/jps-chatbot/UI/data_preparation/Wiki_basic_info/smiles
/JPS_Chatbot/jps-chatbot/UI/data_preparation/Wiki_basic_info/test/data/nlu.md
/JPS_Chatbot/jps-chatbot/UI/source/JPS_Query/training/data/nlu.md
/JPS_Chatbot/jps-chatbot/UI/source/Wikidata_Query/models/fingerprint.json
/JPS_Chatbot/jps-chatbot/UI/source/Wikidata_Query/models
/JPS_Chatbot/jps-chatbot/UI/source/wolfram_alpha_and_google/test/*.html
/JPS_LDF/components/LDF_SERVER_JAVA/Server/WebContent/config.json
JPS_Chatbot/jps-chatbot/UI/source/Agent_query/models/nlu/component_6_EmbeddingIntentClassifier.entity_tag_specs.json
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/FORMULA_NAME_DICT
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/ontocompchem_corpus
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/ontokin_corpus
JPS_Chatbot/jps-chatbot/UI/data_preparation/Wiki_training_material_generation/03_create_training_question/test/data/rank_query_list_block
JPS_Chatbot/jps-chatbot/UI/data_preparation/Wiki_training_material_generation/04_create_training_question/test/data/rank_query_list_block
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/FORMULA_URI_DICT
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/NAME_URI_DICT
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/FORMULA_URI_DICT
JPS_Chatbot/jps-chatbot/UI/question-log.txt
JPS_Chatbot/jps-chatbot/UI/source/Agent_query/models/fingerprint.json
JPS_Chatbot/jps-chatbot/UI/source/Agent_query/models/nlu/checkpoint
JPS_Chatbot/jps-chatbot/UI/source/Agent_query/models/nlu/metadata.json
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/NAME_URI_DICT
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/FORMULA_URI_DICT
JPS_Chatbot/jps-chatbot/UI/data_preparation/files/NAME_URI_DICT
JPS_Chatbot/jps-chatbot/UI/source/JPS_Query/models/nlu/component_6_EmbeddingIntentClassifier.entity_tag_specs.json
