/JPS_BMS/workingdir/rdf-xml-output
.idea/
/JPS/JPS.iml
/JPS/target/
/JPS_BASE/.idea/
/JPS_BASE/JPS_BASE.iml
/JPS_BASE/target/
/JPS_BASE_LIB/.idea/
/JPS_BASE_LIB/jps-base.iml
/JPS_BASE_LIB/target/
/JPS_POSTGRESQL/JPS_POSTGRESQL.iml
/JPS_POSTGRESQL/target/
/JPS_SHIP/.idea/
/JPS_SHIP/JPS_SHIP.iml
/JPS_SHIP/target/
/python/caresjpsadmsinputs/caresjpsadmsinputs.iml
/JPS_BASE/PythonCustomLibraries/PythonCustomLibraries.iml
/JPS_BASE/PythonCustomLibraries/build/
/JPS_BASE/PythonCustomLibraries/caresjpsutil.egg-info/
/JPS_BASE/PythonCustomLibraries/dist/
/JPS_BASE_LIB/src/uk/ac/cam/cares/jps/base/util/CRSTransformer.java
/JPS_COMPOSITION/JPS_COMPOSITION.iml
/JPS_COMPOSITION/target/
/JPS_SHIP/classes/
/JPS/python/caresjpsadmsinputs/caresjpsadmsinputs.iml
/JPS_COMPOSITION_LITE/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/JPS_COMPOSITION_LITE/target/m2e-wtp/web-resources/META-INF/maven/uk.ac.cam.cares.jps/JPS_COMPOSITION_LITE/pom.properties
