# Useful links for more information about ignoring files:
# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore
# https://www.toptal.com/developers/gitignore

# Binary archives of any kind are not allowed:
*.tar
*.gz
*.zip
*.7z
*.rar
*.tgz

# Integrated Development Environment (IDE)-specific files/folders:
.vscode/
.code-workspace
.idea/
.settings/
.metadata
.classpath
.project

# Java:
*.jar
*.war
*.class

# Maven:
target/

# Python:
__pycache__/
*.py[cod]
*$py.class
*.pkl
*.egg-info/
.venv
venv/
.env
env/

# JavaScript:
node_modules/
jspm_packages/

# Compiled/binary output folders:
bin/
build/
dist/

# Mac/OSX-specific files:
.DS_Store

# Windows-specific files:
Thumbs.db

# Miscellaneous files/folders:
/JPS_BMS/workingdir/rdf-xml-output
/JPS/JPS.iml
/JPS_BASE/JPS_BASE.iml
/JPS_BASE_LIB/jps-base.iml
/JPS_POSTGRESQL/JPS_POSTGRESQL.iml
/JPS_SHIP/JPS_SHIP.iml
/python/caresjpsadmsinputs/caresjpsadmsinputs.iml
/JPS_BASE/PythonCustomLibraries/PythonCustomLibraries.iml
/JPS_BASE_LIB/src/uk/ac/cam/cares/jps/base/util/CRSTransformer.java
/JPS_COMPOSITION/JPS_COMPOSITION.iml
/JPS_SHIP/classes/
/JPS/python/caresjpsadmsinputs/caresjpsadmsinputs.iml
/JPS_SHIP/workingdir/test.*
*.index
/JPS_COMPOSITION_LITE/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/JPS_COMPOSITION_LITE/target/m2e-wtp/web-resources/META-INF/maven/uk.ac.cam.cares.jps/JPS_COMPOSITION_LITE/pom.properties
/JPS_Version_0/ADMS/ADMS_JAVA_END/ADMS-Java-11-10-17/ADMS/ADMS_1/src/kb_dev
JPS_DISPERSION/JPS_DISPERSION.iml
*.data-00000-of-00001
geckodriver.log
GasGrid/OntoGasGrid/abox-tbox/ons_abox/22ee8f1d-a598-474f-a8af-7327a03782df.nt
GasGrid/OntoGasGrid/abox-tbox/ons_abox/8419d7bb-b576-451d-b32e-9bb514b9ac84.nt
