.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-style: solid;
  border-color: var(--border-tertiary);
  border-width: 0px 0px 0.12rem 0px;
  transition: background-color 0.3s ease;
}

.header:hover {
  background-color: var(--background-secondary);
}

.name {
  width: 100%;
  font-size: var(--font-size-primary-text);
}