<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheet/main.css" type="text/css">

</head>
<body>
<script src="http://d3js.org/d3.v2.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/javascript/line-graph.js"></script>
<script src="/javascript/bmsPlot.js"></script>
<div id="graph1" class="aGraph" style="position:relative;width:100%;height:400px"></div>


</body>
</html>