version: "3.8"

services:
  emissions-agent:
    image: ghcr.io/cambridge-cares/emissions-agent:1.1.0-dev-aermod-agent-cleanup-SNAPSHOT
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: none
    environment:
      - STACK_NAME=${STACK_NAME}
      - PYTHON_SERVICE_URL=http://${STACK_NAME}-python-service:5000
      - DATABASE=postgres
    configs:
      - postgis
      - blazegraph
    secrets:
      - postgis_password
    ports:
      - "8083:8080"
    volumes:
      - logs:/root/.jps
    networks:
      - stack

volumes:
  logs:
    name: "${STACK_NAME}_logs"
  misc:
    name: "misc"
