version: '3.8'
services:
  floodwarnings_agent:
    image: ghcr.io/cambridge-cares/floodwarnings_agent_debug:1.1.0
    build:
      context: .
      target: debug
    ports:
      - "${DEBUG_PORT}:5678"
    volumes:
      - ./agent:/app/agent
      - ./resources/mock_api_responses:/app/mock_api_responses
