.legend {
    position: absolute;
    top: 500px;
    left: 500px;
    z-index:1;
}
.choice{
    position: absolute;
    top: 420px;
    left: 50px;
    z-index:1;
}
.readonlyinput{

	background-color: transparent;
	width: 50px;
}
body{
    position: relative;
}

.choice.container {
    width: 500px;
}

div.row {
    margin-left: -15px;
    width: 487px;
}

div#sliderwrapper {
	width: 82px;
}

div#optionwrapper {
    width: 245px;
}

div#legendwrapper {
    width: 160px;
}