doctype html
html
head
    block title
    block sheets
    link(rel="stylesheet" href='/stylesheets/header.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    meta(name='viewport', content='initial-scale=1.0')


body
    block content