<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" status="WARN">

	<Appenders>
		<Http name="JPSHTTPLOGSERVER" url="http://www.theworldavatar.com/JPS_BASE/LogServer"  method="POST">
			<PatternLayout pattern="%d %p [%t] %C{1} %m%n"/>
		</Http>		
	</Appenders>
	
	<Loggers>
		<Root level="info">
			<AppenderRef ref="JPSHTTPLOGSERVER"/>
		</Root>
	</Loggers>
	
</Configuration>