.container {
  display: flex;
  align-self: center;
  flex-direction: column;

  width: 90%;
  height: 90vh;
  margin: 1rem;
}

.contents-container {
  width: 90vw;
  padding: 1rem 2rem;
  margin: 1rem;

  background-color: var(--background-primary);
  border: 1px solid var(--border-primary) !important;
  border-radius: 20px;
  flex-direction: column;
}

.title {
  margin: 0.5rem 0;

  color: var(--text-color-primary);
  font-size: var(--font-size-h2);
}

.table-contents {
  height: 60vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.table {
  width: 100%;
  overflow-x: hidden;

  border-spacing: 0;
  border-collapse: separate;
}

.header {
  position: sticky;
  top: 0;

  background-color: var(--background-primary);
  text-align: left;
  text-wrap: nowrap;
}

.table th {
  padding: 0.5rem 1rem 0.5rem 0.4rem;
  font-size: var(--font-size-secondary-text);
  color: var(--text-color-primary);

  border-style: solid;
  border-color: var(--border-primary);
  border-width: 0.1rem 0;
}

.table thead th:nth-last-child(1) {
  width: 100%;
}

.table-icon-cell {
  display: inline-flex;
  flex-direction: row;
}

.expand-icon {
  color: var(--text-color-links) !important;
}

.expand-icon:hover {
  color: var(--text-color-links-hover) !important;
}

.table td {
  white-space: nowrap;
  padding: 0.5rem 0.4rem;
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);

  border-style: solid;
  border-color: var(--border-secondary);
  border-width: 0 0 0.025rem;
}

@media only screen and (max-width: 480px) {
  .table td {
    white-space: normal;
  }
}