#time-series-chart-container {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
}

#chart-canvas {
  height: 100% !important;
  width: 100% !important;
}

#jsonTree {
  border-bottom: 1px solid lightgrey;
  height: calc(100% - 40px);
}
.json-key {
  font-weight: bold;
  margin-right: 0px !important;
  font-size: 10pt !important;
  font-family: "Segoe UI", Arial, sans-serif;
  color: black !important;
}
.json-value {
  color: navy !important;
  font-size: 10pt !important;
  font-family: "Segoe UI", Arial, sans-serif;
}
.json-separator {
    line-height: 1.25;
}
.json-size {
  font-size: 10pt !important;
  font-family: "Segoe UI", Arial, sans-serif;
  color: rgb(100, 100, 100) !important;
}
.empty-icon {
  width: 12px !important;
}
.fa-caret-right:before {
  content: "" !important;
}
.fa-caret-down:before {
  content: "" !important;
}

/* Style the tab */
.json-tree-tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.json-tree-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
}

/* Change background color of buttons on hover */
.json-tree-tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.json-tree-tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.json-tree-tabscontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

