.layerTreeContainer {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0 0.5rem;
}

.treeEntry {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.treeEntryHeader {
    width: 100%;
    box-sizing: border-box;
    height: 32px;

    padding-right: 0.75vw;
    flex-grow: 0;
    display: flex;
    flex-direction: row;

    border-style: solid;
    border-color: var(--border-secondary);
    border-width: 0px 0px 1px 0px;

    transition: background-color 0.5s ease;
}

.treeEntryHeader:hover {
    background-color: var(--background-secondary);
}

.icon {
    width: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon span {
    font-size: var(--icon-size);
    color: var(--text-color-primary);
}

.icon svg {
    padding: 2px;
}

.icon.small span {
    font-size: var(--small-icon-size);
}

.treeIcon {
    pointer-events: none;
}

.textContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    left: 0;
}

.textContainer span {
    font-size: var(--font-size-secondary-text);
}