.mybutton {
    background-image: url(/static/img/search.svg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.spinner {
    background-image: url(/static/img/spinner.gif);
    cursor: not-allowed
}

.sample-question:hover {
    border-color: #FFA500;
    cursor: pointer;
}