.initialContent {
  padding: 1rem
}

.infoPanelContainer {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.infoHeadSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
  border-style: solid;
  border-color: var(--border-secondary);
  border-width: 0px 0px .12rem 0px;
}

.tab-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tab {
  padding: 0.1rem;
  box-shadow: rgba(148, 148, 172, 0.2) 0px 7px 29px 0px;
  border-width: 0.1rem 0.1rem 0.2rem;
  border-style: solid;
  border-color: transparent;
  transition: border-color 0.3s ease;
}

.tab:hover {
  border-bottom-color: var(--text-color-links);
}

.active {
  border-color: var(--text-color-secondary);
  background-color: var(--background-secondary);
}

.tab-icon {
  color: var(--text-color-secondary);
  font-size: var(--icon-size) !important;
}

.infoSection {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: auto;
}

.time-series-panel {
  padding: 0 0.75rem 0.75rem;
}

.feature-name-header {
  text-align: right;

  font-size: var(--font-size-primary-text);
  color: var(--text-color-secondary);
}

/* Header for Tree Entry Styling */
.treeEntrySubHeader {
  display: flex;
  flex-direction: row;
  padding: 0 0.25rem;
  border-style: solid;
  color: var(--text-color-primary) !important;
  border-color: var(--border-primary);
  border-width: 0px 0px 0.08rem 0px;

  transition: background-color 0.3s ease;

  justify-content: space-between;
  align-items: center;
}

.treeEntrySubHeader:hover {
  background-color: var(--background-secondary);
}

.treeEntrySubHeaderName {
  padding: 0.25rem;
  color: var(--text-color-primary);
  font-size: var(--font-size-secondary-text);
  position: relative;
  left: 0;
  margin-right: auto;
}

/* Attribute Styling */
.treeAttributeEntry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: anywhere;

  padding: 0.2rem 0.25rem;
  border-style: solid;
  border-color: var(--border-primary);
  border-width: 0px 0px 0.05rem 0px;
}

.treeAttributeKey {
  color: var(--text-color-secondary);
  font-size: var(--font-size-secondary-text);
}

.treeAttributeValue {
  margin-left: auto;
  font-size: var(--font-size-secondary-text);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem
}

.iconContainer {
  height: 5px;
}