.table {
  width: 100%;
}

.table p {
  border-style: solid;
  border-color: var(--border-tertiary);
  border-width: 0 0 0.12rem;
  font-size: var(--font-size-primary-text);
}

.content {
  display: flex;
  flex-direction: column;
}

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  padding: 0 1rem;
  border-color: var(--border-primary);
  border-width: 0px 0px 0.05rem 0px;
}

.entry span {
  font-size: var(--font-size-secondary-text);
  color: var(--text-color-secondary);
}

.entry-header {
  color: var(--text-color-primary) !important;
}