recursive-include chemistry_and_robots *.ttl
recursive-include chemistry_and_robots *.owl
include chemistry_and_robots/resources/sample_data/raw_hplc_report_txt.txt
include chemistry_and_robots/resources/sample_data/raw_hplc_report_txt_incomplete.txt
include chemistry_and_robots/resources/sample_data/raw_hplc_report_txt_unidentified_peaks.txt
include chemistry_and_robots/resources/sample_data/raw_hplc_report_txt_no_product.txt
include chemistry_and_robots/resources/sample_data/raw_hplc_report_xls.xls
include chemistry_and_robots/resources/sample_data/raw_hplc_report_xls_incomplete.xls
include chemistry_and_robots/resources/sample_data/raw_hplc_report_xls_unidentified_peaks.xls
include chemistry_and_robots/resources/sample_data/raw_hplc_report_xls_no_product.xls
