.toolbar {
    width: 100%;
    overflow: hidden;
    flex-flow: row wrap;

    display: flex;
    flex-direction: row;
    justify-content: right;
    
    min-height: 50px;
    height: 50px;
    background-color: var(--background-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--border-primary);
    
    z-index: 999;
}

.spacer {
    height: 100%;
    flex-grow: 1;
}
.toolbar :global .toolbarLogo {
    width: 250px;
    height: 50px;

    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolbar :global .toolbarLogo svg {
    width: 100%;
    height: 100%;
    fill: var(--border-tertiary);
}



