/* Common component elements */
#dynamicInterfaceContainer {
  z-index: 1000;
  box-sizing: border-box;
  margin: 1em 0 0 0;
  font-size: 11pt;
}

#dynamicComponentTitle {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 99%;
  font-size: 10pt;
  height: 40px;
}

#dynamicComponentTitle:hover {
  background-color: #228AA2;
}

#dynamicContent {
  display: block;
  padding: 0 18px;
  overflow: hidden;
  transition: opacity 0.2s ease-out, height 0.2s ease-out;
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes loading-text-opacity {
  0% { opacity: 0; } 20% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; }
}

@-moz-keyframes loading-text-opacity {
  0% { opacity: 0; } 20% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; }
}

@-webkit-keyframes loading-text-opacity {
  0% { opacity: 0; } 20% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; }
}

@-o-keyframes loading-text-opacity {
  0% { opacity: 0; } 20% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; }
}


#loaderContainer {
  position: absolute;
  top: 45vh;
  left: 45vw;
  z-index: 1001;
}

#loader {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2px solid transparent;
  border-color: transparent #fff transparent #fff;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
}

#loaderText {
  position: absolute;
  top: 0;
  width: 100px;
  margin: 40px auto;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  text-align: center;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
}

.control-button {
  padding: .25rem .5rem;
  background-color: #FFFFFF;
  border: 0;
  border-radius: .25rem;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.75rem;
  color: #111827;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.control-button:hover {
  background-color: #ccc;
  box-shadow: none;
}

.line-item {
  display: flex;
  margin: 4px 0;
  font-size: 0.75rem;
}

.evenly-space-container {
  justify-content: space-evenly;
}

.space-around-container {
  justify-content:space-around;
}

.line-padding {
  padding-bottom: 0.4rem;
}

.scrollable-content {
  height: 30vh;
  overflow-y: auto;
}

.dropdown-box {
  position: relative;
  top: 1.2vh;
  padding: 0.1vh 0;
  background: rgba(0, 0, 0, 0.3);
}

.dropdown-box:after {
  content: "";
  position: absolute;
  left: 0.8rem;
  bottom: 100%;
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-width: 0.4rem;
}

/* Application-specific classes   */
.asset-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em 0 0;
}

.asset-card {
  width: 100%;
  padding: 0.3em 0.5em;
  margin: 1em 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.asset-card-line:nth-child(even) {
  background: rgb(238, 238, 238);
}