/* The container <div> - needed to position the dropdown content */
.keycloakSession {
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.keycloakSession span {
    font-size: 1.5em;
    color: var(--logo-colour);
    margin-right: 20px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    background-color: var(--cpc-green);
    color: var(--logo-colour);
    transition: background-color 0.5s ease, border-radius 0.5s ease, margin-right 2s ease;
}

.dropdown:hover .dropbtn {
    background-color: var(--background-color);
    border-radius: 10px 30px;
    padding: 6.5px 20px;
    margin-right: 1px
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: relative;
    right: 0;
    z-index: 1;
    margin-right: 5px;
}

.dropdownContent a {
    color: var(--cmcl-blue);
    background-color: var(--background-color);
    padding: 10px;
    display: block;
    border-radius: 20px;
    transition: background-color 0.5s ease, border-radius 0.5s ease, transform 0.5s ease;
    float: right;
    font-size: 16px;
    text-align: center;
    margin: 1px;
    text-decoration: none;
}

.dropdownContent a:hover {
    background-color: grey;
    box-shadow: 4px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block;
}