.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  overflow: hidden;
  min-height: 50px;
  height: 50px;
  width: 100vw;

  background-color: var(--background-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--border-primary);

  z-index: 999;
}

.logo-ribbon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  padding: 0.25rem 1rem;
}

.logo {
  height: 40px;
  width: auto;
  padding: 0.25rem;

  fill: var(--border-tertiary);
}

.navbar :global .navbarElements {
  display: flex;
  justify-content: center;
  align-items: center;
}