.row {
  display: flex;
}

.column_1 {
  flex: 30%;
  padding: 5px;
}
.column_2 {
  flex: 70%;
  padding: 5px;
}

.table-custom  th {
font-size: 1rem;
background: #d0cccc;
    color: #333;
}
.table-custom  tr {
    color: #333;
    font-weight: 500;
    border-top: 2px solid #b5b5b5;
}