version: "3.8"

# All Services
services:
  dispersion-vis:
    image: ghcr.io/nagarajankarthik/dispersion-vis:latest
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: none
    ports:
      - "8090:80"
    volumes:
      - vis_data:/var/www/html
    networks:
      - stack

volumes:
  vis_data:
    name: "vis_data"
    external: true
 