<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
  <display-name>MoDS Agent</display-name>
  <servlet>
    <servlet-name>MoDSMooAgent</servlet-name>
    <servlet-class>
            uk.ac.cam.cares.jps.agent.mechanism.moo.MoDSMooAgent
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
      <servlet-mapping>
        <servlet-name>MoDSMooAgent</servlet-name>
        <url-pattern>/MoDSMooAgent/</url-pattern>
    </servlet-mapping>
    
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>otf</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>json</extension>
    <mime-type>application/json</mime-type>
  </mime-mapping>
</web-app>