p {
    clear:both;
    top: 20px;
}

div.aGraph {
    margin-bottom: 30px;
}

svg.line-graph text {
    cursor: default;
}

svg.line-graph .hover-line {
    stroke: #6E7B8B;
}

svg.line-graph .hide {
    opacity: 0;
}

svg.line-graph .axis {
    shape-rendering: crispEdges;
}

svg.line-graph .x.axis line {
    stroke: #D3D3D3;
}

svg.line-graph .x.axis .minor {
    stroke-opacity: .5;
}

svg.line-graph .x.axis path {
    display: none;
}

svg.line-graph .x.axis text {
    font-size: 10px;
}

svg.line-graph .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

svg.line-graph .y.axis text {
    font-size: 12px;
}

svg.line-graph .scale-button:not(.selected):hover {
    text-decoration: underline;
    cursor: pointer !important;
}

svg.line-graph .date-label {
    fill: #6E7B8B;
}