#######################################
## The World Avatar related packages ##
#######################################
pyderivationagent==1.4.1
chemistry_and_robots==1.2.5

##########################
## Third-party packages ##
##########################
pandas==1.3.5
pydantic==1.9.0
xlwt==1.3.0
testcontainers==3.4.2
pytest==6.2.5
pytest-docker-compose==3.2.1
pytest-rerunfailures==10.2
