<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
<display-name>bms-update-agent</display-name>
<description>An agent used to log the status of user inputs in android app.</description>

<servlet>
  <servlet-name>BMSUpdateAgent</servlet-name>
  <servlet-class>uk.ac.cam.cares.jps</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>BMSUpdateAgent</servlet-name>
  <url-pattern>/</url-pattern>
</servlet-mapping>
</web-app>