version: "3.8"

services:
  propertyvalue_agent:
    image: ghcr.io/cambridge-cares/propertyvalue_agent:1.2.0
    environment:
      #--- Stack & Stack Client parameters ---#
      - STACK_NAME=${STACK_NAME}
      # Specify PostGIS/PostgreSQL database name
      - DATABASE=postgres
      # Specify Blazegraph namespace
      - NAMESPACE=kingslynn
      # Target layer name in Geoserver, also table name in PostGIS
      - LAYERNAME=marketvalues
      - GEOSERVER_WORKSPACE=kingslynn
      # PostGIS table containing all building footprints
      - BUILDINGS_TABLE=buildings
      #--- Derivation Agent parameters ---#
      # For details, see: https://github.com/cambridge-cares/TheWorldAvatar/blob/main/JPS_BASE_LIB/python_derivation_agent/pyderivationagent/conf/agent_conf.py
      - ONTOAGENT_SERVICE_IRI=https://www.theworldavatar.com/resource/agents/Service__KL_PropertyValueEstimation/Service
      # Host and port of ONTOAGENT_OPERATION_HTTP_URL should match port specified in `port` node below
      - ONTOAGENT_OPERATION_HTTP_URL=http://host.docker.internal:5012/PropertyValueEstimation
      - DERIVATION_INSTANCE_BASE_URL=https://www.theworldavatar.com/kg/derivation/
      - DERIVATION_PERIODIC_TIMESCALE=604800
      - REGISTER_AGENT=true
      # Required inputs, although values retrieved from Stack clients actually used when initialising DerivationAgent
      - SPARQL_QUERY_ENDPOINT=''
      - SPARQL_UPDATE_ENDPOINT=''
      # Required inputs, although not used when initialising DerivationAgent
      - KG_USERNAME=''
      - KG_PASSWORD=''
      - FILE_SERVER_ENDPOINT=''
      - FILE_SERVER_USERNAME=''
      - FILE_SERVER_PASSWORD=''
      #--- Miscellaneous ---#
      - LOG4J_FORMAT_MSG_NO_LOOKUPS=true
    ports:
      - "5012:5000"
    volumes:
      - logs:/root/.jps
    configs:
      - blazegraph
      - geoserver
      - postgis
    secrets:
      - geoserver_password
      - postgis_password

volumes:
  logs:
    name: "logs"
