.ribbonContainer {
    width: 100%;
    height: 150px;

    z-index: 1;
    pointer-events: all;

    background-color: var(--background-secondary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ribbon {
    width: 100%;
    height: 100%;
}

.ribbonTabs {
    height: 50px;
    background-color: var(--background-tertiary);
    border-width: 0px 0px 1px 0px;
    border-color: var(--background-tertiary);
    border-style: solid;
}
.ribbonTab {
    font-family: inherit !important;
    font-size: 10pt;
    font-weight: bold;
    color: var(--text-color-primary);
}
.ribbonTabActive {
    font-family: inherit !important;
    font-size: 10pt;
    font-weight: bold;
    background-color: var(--background-secondary);
    color: var(--text-color-links-hover) !important;
}