<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>bms-query-agent</display-name>
  <description>Servlet to accept incoming request, query the timeseries data of the given device iri in the past 1 hour.</description>
</web-app>
