.mapbox-improve-map {
  display: none !important;
}

.mapboxgl-popup-content {
  background: var(--background-primary) !important;
  color: var(--text-color-primary) !important;
  font-size: var(--font-size-secondary-text);
}

.mapboxgl-popup-tip {
  border-top-color: var(--background-primary) !important;
}