<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
    <display-name>heatnetwork-agent</display-name>
    <description>This agent executes a cross-domain query to evaluate the heat emission amount.</description>

    <servlet>
        <servlet-name>HeatNetworkAgentServlet</servlet-name>
        <servlet-class>uk.ac.cam.cares.jps.agent.heat.HeatNetworkAgentLaucher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HeatNetworkAgentServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>