# This configuration file should include all docker-compose options required to *build images* for
# services in the 'agent' stack.
#
# When adding a new service, please copy the configuration for an existing service, then modify the
# service name, the 'image' tag (retaining 'docker.cmclinnovations.com') and the 'build/*',
# 'labels/authors' and 'labels/description' nodes.
# =================================================================================================

version: "3.8"


services:

  # Status Agent
  # No ${MODE} classifier as this image has no environment specific code
  status-agent:
    image: docker.cmclinnovations.com/status-agent:1.0.0-SNAPSHOT
    build:
      context: "../../../Agents/StatusAgent"
      dockerfile: "./docker/Dockerfile"
      labels:
        description: "Simple servlet to run KG availability tests and display results."
        authors: "mdhillman@cmclinnovations.com"
        builder: "${BUILDER}"
        hash: "${HASH}"

      
  # Email Agent
  # No ${MODE} classifier as this image has no environment specific code
  email-agent:
    image: docker.cmclinnovations.com/email-agent:1.0.0-SNAPSHOT
    build:
      context: "../../../Agents/EmailAgent"
      dockerfile: "./docker/Dockerfile"
      labels:
        authors: "mdhillman@cmclinnovations.com"
        builder: "${BUILDER}"
        description: "Simple servlet to accept requests and (where valid) forward to SMTP server."
        hash: "${HASH}"

  # Gas Grid Agent
  gas-grid-agent:
    image: docker.cmclinnovations.com/gas-grid-agent-$MODE:1.0.0-SNAPSHOT
    build:
      context: "../../../GasGrid"
      dockerfile: "docker/Dockerfile"
      labels:
        authors: "support@cmclinnovations.com"
        builder: "${BUILDER}"
        description: "Gas Grid Agent."
        hash: "${HASH}"
      target: "${MODE}"
      
  # Flood Agent
  flood-agent:
    image: docker.cmclinnovations.com/flood-agent-${MODE}:1.0.0-SNAPSHOT
    build:
      context: "../../../Agents/FloodAgent"
      dockerfile: "Dockerfile"
      labels:
        authors: "support@cmclinnovations.com"
        description: "Flood Agent that scrapes data, updates the KG, and write JSON files daily."
        builder: "${BUILDER}"
        hash: "${HASH}"
      target: "default"

  # JPS Chatbot
  # No ${MODE} classifier as this image has no environment specific code
  jps-chatbot:
    image: docker.cmclinnovations.com/jps-chatbot:1.0.0-SNAPSHOT
    build:
      context: "../../../JPS_Chatbot"
      labels:
        authors: "xz378@cam.ac.uk, support@cmclinnovations"
        builder: "${BUILDER}"
        description: "Chemistry chatbot, uses NL processing and KGs to answer chemical queries."
        hash: "${HASH}"

  # JPS LDF Server
  # No ${MODE} classifier as this image has no environment specific code
  jps-ldf:
    image: docker.cmclinnovations.com/jps-ldf:1.0.0-SNAPSHOT
    build:
      context: "../../../JPS_LDF"
      labels:
        authors: "xz378@cam.ac.uk, support@cmclinnovations"
        builder: "${BUILDER}"
        description: "Linked Fragment server used in conjunction with the JPS Chatbot Image."
        hash: "${HASH}"

  # # Kinetics Agent.
  # kinetics-agent:
  #   image: "docker.cmclinnovations.com/kinetics-agent:0.0.1-SNAPSHOT"
  #   build:
  #     context: "./KineticsAgent"
  #     labels:
  #       authors: "support@cmclinnovations.com"
  #       builder: "${BUILDER}"
  #       description: "Tomcat server hosting the KineticsAgent service."
  #       hash: "${HASH}"

  # # Slurm compute node.
  # # Note: This Image exists as a generic job queue/executor for any other
  # #       services submitting Slurm jobs (such as the KineticsAgent).
  # slurm:
  #   image: "docker.cmclinnovations.com/slurm:1.0.0-SNAPSHOT"
  #   build: 
  #     context: "./Slurm"
  #     labels:
  #       authors: "support@cmclinnovations.com"
  #       builder: "${BUILDER}"
  #       description: "Slurm compute node."
  #      hash: "${HASH}"

  # STDC Thermo agent
  # No ${MODE} classifier as this image has no environment specific code
  stdc-agent:
    image: docker.cmclinnovations.com/stdc_agent:1.0.0-SNAPSHOT
    build:
      context: "../../../Agents/STDCThermoAgent"
      labels:
        authors: "danieln@cmclinnovations.com, support@cmclinnovations.com"
        builder: "${BUILDER}"
        description: "Thermodynamic properties calculation agent"
        hash: "${HASH}"

  # Weather agent
  # No ${MODE} classifier as this image has no environment specific code
  weather-agent:
    image: docker.cmclinnovations.com/weather-agent:1.0.0-SNAPSHOT
    build:
      context: "../../../Agents/WeatherAgent"
      labels:
        authors: "kflee@cmclinnovations.com, support@cmclinnovations"
        builder: "${BUILDER}"
        description: "Instantiate and query virtual weather stations using the openweathermap.org API."
        hash: "${HASH}"