#######################################
## The World Avatar related packages ##
#######################################
py4jps==1.0.37
pyderivationagent==1.5.0

##########################
## Third-party packages ##
##########################
Flask==2.1.0