"""
Base configurations including:
postgresql address, triplestore address,

"""

#Postgresql database where the timeseries data (data series) are written to
[postgresql]
url = jdbc:postgresql:ts_example
user = postgres
password = postgres


[paths]
resourcesDir = resources #relative dir to root