
.componentContainer {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    pointer-events: none;
    z-index: 1;
}

.loadingContainer {
    width: 500px;
    height: 600px;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}
.loadingContainer h1 {
    width: 500px;
    text-align: center;
    font-size: var(--font-size-h1);
}

.upperContainer {
    width: 100%;
    min-height: 225px;

    flex-grow: 95;
    display: flex;
    flex-direction: row;
}

.lowerContainer {
    width: 100%;
    min-height: 50px;
    flex-grow: 5;

    background-color: red;
    opacity: 0.0;
}


.leftUpperContainer {
    min-width: 200px;
    max-width: 400px;
    flex-grow: 1;

    background-color: green;
    opacity: 0.0;
}
.middleUpperContainer {
    min-width: 600px;
    flex-grow: 1;
}
.rightUpperContainer {
    min-width: 200px;
    max-width: 400px;
    flex-grow: 1;

    background-color: blue;
    opacity: 0.0;
}


