/jps-chatbot/UI/data_preparation/Wiki_basic_info/instance_info
/jps-chatbot/UI/data_preparation/Wiki_basic_info/instance_property_mapping_random_3000
/jps-chatbot/UI/data_preparation/Wiki_basic_info/instance_property_mapping_first_2000
/jps-chatbot/UI/data_preparation/Wiki_basic_info/smiles
/jps-chatbot/UI/data_preparation/Wiki_basic_info/test/data/nlu.md
/jps-chatbot/UI/source/JPS_Query/data/
/jps-chatbot/UI/source/Wikidata_Query/models/fingerprint.json
/jps-chatbot/UI/source/Wikidata_Query/models
/jps-chatbot/UI/source/wolfram_alpha_and_google/test/*.html
/jps-chatbot/UI/source/Agent_query/models/nlu/component_6_EmbeddingIntentClassifier.entity_tag_specs.json
/jps-chatbot/UI/data_preparation/files/FORMULA_NAME_DICT
/jps-chatbot/UI/data_preparation/files/ontocompchem_corpus
/jps-chatbot/UI/data_preparation/files/ontokin_corpus
/jps-chatbot/UI/data_preparation/Wiki_training_material_generation/03_create_training_question/test/data/rank_query_list_block
/jps-chatbot/UI/data_preparation/Wiki_training_material_generation/04_create_training_question/test/data/rank_query_list_block
/jps-chatbot/UI/data_preparation/files/NAME_URI_DICT
/jps-chatbot/UI/data_preparation/files/FORMULA_URI_DICT
/jps-chatbot/UI/question-log.txt
/jps-chatbot/UI/source/Agent_query/models/fingerprint.json
/jps-chatbot/UI/source/Agent_query/models/nlu/checkpoint
/jps-chatbot/UI/source/Agent_query/models/nlu/metadata.json
/jps-chatbot/UI/source/JPS_Query/models/nlu/component_6_EmbeddingIntentClassifier.entity_tag_specs.json
/jps-chatbot/UI/data_preparation/files/ONTOSPECIES_IDENDITIFERS_QUERY_RESULT
/jps-chatbot/UI/source/OntoSpeciesLog
/jps-chatbot/UI/source/Wikidata_Query/WIKI_DICTS/
/jps-chatbot/UI/source/Agent_Query/JPS_DICTS
/jps-chatbot/UI/source/Agent_Query/training/data
/jps-chatbot/UI/data/
/jps-chatbot/UI/data_preparation/SPARQL_warehouse/wiki_chemical_substance_instances