version: "3.8"

services:
  pubchem_agent:
    container_name: "pubchem_agent"
    image: ghcr.io/theworldavatar/pubchem_agent:1.0.0
    environment:
      # Required environment variables for both Stack and "standalone" (i.e. outside stack) deployment
        # Leave it blank for "standalone" deployment. If the stack name is "chemistry_stack", for stack deployment set STACK_NAME=chemistry_stack
      - STACK_NAME=
      # Additional environment variables required for Stack deployment
        # Target Blazegraph namespace. Leave it blank for "standalone" deployment. If the namespace is "ontospecies4", for stack deployment set NAMESPACE=ontospecies4
      - NAMESPACE=
      # Additional environment variables required for "standalone deployment"
        # Query endpoint. Leave it blank for Stack deployment. For "standalone" deployment, set QUERY_ENDPOINT=http(s)://<server-address>/blazegraph/namespace/ontospecies4/sparql
      - QUERY_ENDPOINT=
        # Update endpoint. Leave it blank for Stack deployment. For "standalone" deployment, set UPDATE_ENDPOINT=http(s)://<server-address>/blazegraph/namespace/ontospecies4/sparql
      - UPDATE_ENDPOINT=
      # Additional environment variables (when required)
        # Blazegraph user
      - BG_USER=
        # Blazegraph password
      - BG_PASSWORD=
    build:
      # Path to dockerfile ('.' represents current directory with .yml file)
      context: .
      target: prod
    ports:
      - "5000:5000"
    networks:
      - default

  blazegraph_os:
    container_name: "blazegraph_os"
    image: ghcr.io/cambridge-cares/blazegraph:1.1.0
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - blazegraph_os_data:/blazegraph
    networks:
      - default

volumes:
  blazegraph_os_data:
    name: "blazegraph_os_data"

networks:
  default:
    name: "ontospecies"