.infoPanelContainer {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.infoHeadSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.infoHeadSection h2 {
  font-size: 1.1rem;
}

.infoSection {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1; /* Allow sections to adjust their height if needed */
  margin-top: 0.5rem;
  padding: 0 0.5rem 1rem;
  overflow-y: auto; /* Enable vertical scrolling for the info section */
}

.treeEntry {
  margin: 0.2rem 0 0.4rem;
}

/* Primary Header Styling */
.treeEntryHeader {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: var(--border-tertiary);
  border-width: 0px 0px 0.12rem 0px;
}

.treeEntryHeader:hover {
  background-color: var(--background-secondary);
}

.treeHeaderName {
  width: 100%;
  font-size: 0.95rem;
}

/* Non Primary Header Styling */
.treeEntryNonPrimaryHeader {
  display: flex;
  flex-direction: row;
  border-style: solid;
  color: var(--text-color-primary) !important;
  border-color: var(--border-primary);
  border-width: 0px 0px 0.05rem 0px;
}

.treeEntryNonPrimaryHeader:hover {
  background-color: var(--background-secondary);
}

.treeEntryNonPrimaryHeaderName {
  color: var(--text-color-primary);
  font-size: 0.8rem;
}

/* Icon Styling */
.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

/* Attribute Styling */
.treeAttributeEntry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin: 0.2rem 0;
  border-style: solid;
  border-color: var(--border-primary);
  border-width: 0px 0px 0.05rem 0px;
}

.treeAttributeKey {
  color: var(--text-color-secondary);
  font-size: 0.8rem;
}

.treeAttributeValue {
  margin-left: auto;
  font-size: 0.8rem;
}

/*
Loading 
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}