.infoPanelContainer {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.infoHeadSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.infoHeadSection h2 {
  font-size: var(--font-size-h2);
}

.tab-container {
  margin: 0.2rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tab {
  padding: 0.1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-width: 0.1rem 0.1rem 0.2rem;
  border-style: solid;
  border-color: transparent;
  transition: border-color 0.3s ease;
}

.tab:hover {
  border-bottom-color: var(--text-color-links);
}

.active {
  border-top-color: var(--text-color-secondary);
  border-left-color: var(--text-color-secondary);
  border-right-color: var(--text-color-secondary);
  border-bottom-color: var(--text-color-links);
  background-color: var(--background-secondary);
}

.tab-icon {
  color: var(--text-color-secondary);
  font-size: var(--icon-size) !important;
}

.infoSection {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1; /* Allow sections to adjust their height if needed */
  padding: 0 0.5rem 1rem;
  overflow-y: auto; /* Enable vertical scrolling for the info section */
}

.treeEntry {
  margin: 0.2rem 0 0.4rem;
}

/* Primary Header Styling */
.treeEntryHeader {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: var(--border-tertiary);
  border-width: 0px 0px 0.12rem 0px;
}

.treeEntryHeader:hover {
  background-color: var(--background-secondary);
}

.treeHeaderName {
  width: 100%;
  font-size: var(--font-size-primary-text);
}

/* Non Primary Header Styling */
.treeEntryNonPrimaryHeader {
  display: flex;
  flex-direction: row;
  border-style: solid;
  color: var(--text-color-primary) !important;
  border-color: var(--border-primary);
  border-width: 0px 0px 0.05rem 0px;
}

.treeEntryNonPrimaryHeader:hover {
  background-color: var(--background-secondary);
}

.treeEntryNonPrimaryHeaderName {
  color: var(--text-color-primary);
  font-size: var(--font-size-secondary-text);
}

/* Attribute Styling */
.treeAttributeEntry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin: 0.2rem 0;
  border-style: solid;
  border-color: var(--border-primary);
  border-width: 0px 0px 0.05rem 0px;
}

.treeAttributeKey {
  color: var(--text-color-secondary);
  font-size: var(--font-size-secondary-text);
}

.treeAttributeValue {
  margin-left: auto;
  font-size: var(--font-size-secondary-text);
}

/*
Loading 
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}