DERIVATION_PERIODIC_TIMESCALE=60
DERIVATION_INSTANCE_BASE_URL=http://www.example.com/triplestore/repository/
SPARQL_QUERY_ENDPOINT=http://www.example.com/blazegraph/namespace/kb/sparql
SPARQL_UPDATE_ENDPOINT=http://www.example.com/blazegraph/namespace/kb/sparql
KG_USERNAME=example_username
KG_PASSWORD=example_password
FILE_SERVER_ENDPOINT=http://www.example.com/FileServer/
FILE_SERVER_USERNAME=example_fs_username
FILE_SERVER_PASSWORD=example_fs_password
ONTOAGENT_OPERATION_HTTP_BASE_URL=http://localhost:5000/Example
REGISTER_AGENT=false
MAX_THREAD_MONITOR_ASYNC_DERIVATIONS=1
EMAIL_RECIPIENT=first.developer@server.com;second.developer@server.com
EMAIL_SUBJECT_PREFIX=XXXAgent
EMAIL_USERNAME=your.email@server.com
EMAIL_AUTH_JSON_PATH=/app/secret.json
EMAIL_START_END_ASYNC_DERIVATIONS=false
