.keycloakSession {
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    float: right;
    overflow: hidden;
}

.keycloakSession span {
    font-size: 1.5em;
    color: var(--logo-colour);
    margin-right: 20px;
}

 .dropbtn {
    transition: background-color 0.5s ease, border-radius 0.5s ease, margin-right 2s ease;
}

.keycloakSession:hover .dropbtn {
    background-color: var(--background-secondary);
    border-radius: 10px 30px;
    padding: 6.5px 20px;
    margin-right: 1px
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: relative;
    left: 0;
    z-index: 1;
    margin-right: 5px;
    margin: 1px;
}

/* Show the dropdown menu on hover */
.keycloakSession:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    padding: 10px;
    transition: color 0.5s ease, background-color 0.5s ease, border-radius 1s ease, transform 0.5s ease;
}

.dropdownContent a:hover {
    background-color: var(--background-secondary);
    border-radius: 40px;
}
