<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
    <display-name>IsochroneAgent</display-name>
    <description>A java agent to create isochrones.</description>

    <servlet>
        <servlet-name>IsochroneAgent</servlet-name>
        <servlet-class>uk.ac.cam.cares.jps.agent.isochroneagent.isochroneagent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IsochroneAgent</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>