/* Override settings for mouse popup content */
.mapboxgl-popup-content {
    text-align: center !important;
    min-width: 200px !important;
}

/** Change position of Mapbox logo **/
.mapboxgl-ctrl-bottom-left {
    right: 5px !important;
    bottom: 15px !important;
    left: revert !important;
    top: revert !important;
}

/** Remove the improve map link **/
.mapbox-improve-map {
    display: none;
}


/** Advanced filter controls **/
#filterButton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 520px;

    text-align: center;
    cursor: pointer;
}
#filterContainer {
    width: 20px;
    height: 400px;
    position: absolute;
    top: 70px;
    right: 520px;
    display: none;
}
#filterContainer:hover {
    background-color: rgba(0,0,0,.4) !important;
}

#search-select {
    width: 200px;
    height: 40px;
}