version: "3.8"

services:
  copcalculationagent:
    image: ghcr.io/cambridge-cares/copcalculationagent:1.0.0-SNAPSHOT
    environment:
      #--- Stack & Stack Client parameters ---#
      - STACK_NAME=${STACK_NAME}
      # Specify PostGIS/PostgreSQL database name
      - DATABASE=postgres
      # Specify Blazegraph namespace
      - NAMESPACE=heatpump
      #--- Derivation Agent parameters ---#
      # For details, see: https://github.com/cambridge-cares/TheWorldAvatar/blob/main/JPS_BASE_LIB/python_derivation_agent/pyderivationagent/conf/agent_conf.py
      - ONTOAGENT_SERVICE_IRI=http://www.theworldavatar.com/resource/agents/Service__KL_COPCalculation/Service
      # Host and port of ONTOAGENT_OPERATION_HTTP_URL should match port specified in `port` node below
      - ONTOAGENT_OPERATION_HTTP_URL=http://localhost:5150/COPCalculation
      - DERIVATION_INSTANCE_BASE_URL=https://www.theworldavatar.com/kg/derivation/
      - REGISTER_AGENT=true
      - DERIVATION_PERIODIC_TIMESCALE=2592000
      # Required inputs, although values retrieved from Stack clients actually used when initialising DerivationAgent
      - SPARQL_QUERY_ENDPOINT=''
      - SPARQL_UPDATE_ENDPOINT=''
      # Required inputs, although not used when initialising DerivationAgent
      - KG_USERNAME=''
      - KG_PASSWORD=''
      - FILE_SERVER_ENDPOINT=''
      - FILE_SERVER_USERNAME=''
      - FILE_SERVER_PASSWORD=''
      # --- Miscellaneous --- #
      #TODO: Check whether that's still needed
      - LOG4J_FORMAT_MSG_NO_LOOKUPS=true
      # --- Assumption spaces --- #
      # !!!! NO SPACING AFTER '='!!!!
      - HEATPUMP_EFFICIENCY=0.7
      # In the unit of Kelvin 
      - HOTSIDE_TEMPERATURE=318.15
    ports:
      - "5150:5000"
    volumes:
      - logs:/root/.jps
    configs:
      - blazegraph
      - postgis
      - ontop
    secrets:
      - postgis_password

volumes:
  logs:
    name: "logs"
