#sliderStartTime {
  position: absolute;
  bottom: 10%;
  left: 18%;
  background-color: #f6f8fa;
  padding: 3px 10px;
  border-radius: 10px; 
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */

}

#sliderEndTime {
  position: absolute;
  bottom: 10%;
  left: 62%;
  background-color: #f6f8fa;
  padding: 3px 10px;
  border-radius: 10px; 
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
}

.slidecontainer {
  position: absolute;
  width: 40%;
  margin: auto;
  bottom: 15%;
  left: 25%;
  z-index: 10;
}

/* The slider itself */
.time-slider {
  width: 100%;
  opacity: 0.7;
  position: relative;
  /* -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0 4px 8px 0 #18677a; */
  margin: 4px ;
  height: 7px;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 4px rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

.time-slider::-webkit-slider-thumb {
  background-color: #18677a;
}

.time-slider-jq {
  position: relative;
  margin: 32px auto;
  width: 250px;
  display: block;
  background: #565656;
  height: 7px;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 4px rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

.time-slider-jq div.ui-slider-range {
  display: block;
  height: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}

.time-slider-jq.blue div.ui-slider-range {
  background-color: #9FD0E9;
  box-shadow: inset 0 0 4px rgba(0, 85, 151, 0.8), inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.time-slider-jq.blue div.ui-slider-range.hilite, .time-slider-jq.blue div.ui-slider-range.dragging {
  background-color: #9fd5ff;
}
.time-slider-jq a.ui-slider-handle {
  position: absolute;
  top: -5px;
  margin-left: -9px;
  z-index: 2;
  height: 16px;
  width: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #d4d4d4;
  background-image: -owg-image-url("https://s3.amazonaws.com/codepen/chrome_radial.jpg");
  background-image: -webkit-image-url("https://s3.amazonaws.com/codepen/chrome_radial.jpg");
  background-image: -moz-image-url("https://s3.amazonaws.com/codepen/chrome_radial.jpg");
  background-image: -o-image-url("https://s3.amazonaws.com/codepen/chrome_radial.jpg");
  background-image: image-url("https://s3.amazonaws.com/codepen/chrome_radial.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  border: 0px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4), inset 0 0px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.6), 0 4px 2px rgba(0, 0, 0, 0.2), 0 9px 4px rgba(0, 0, 0, 0.1), inset 0 2px 1px white;
  outline: none;
}
.time-slider-jq a.ui-slider-handle:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -1px;
  top: -4px;
  background-color: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background-image: -owg-radial-gradient(white, rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0));
  background-image: -webkit-radial-gradient(white, rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0));
  background-image: -moz-radial-gradient(white, rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0));
  background-image: -o-radial-gradient(white, rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0));
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0));
}

article.mainfeature {
  width: 400px;
  height: 300px;
  border: 20px solid white;
  margin: 30px auto;
  background-color: #d4d4d4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

/* .time-slider:hover {
  opacity: 1;
}

.time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #18677a;
  cursor: pointer;
}

.time-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #18677a;
  cursor: pointer;
} */