/* The container <div> - needed to position the dropdown content */
.toolbar_toolbar .keycloak_session {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar_toolbar .keycloak_session span {
    font-size: 2em;
    color: var(--logo-colour);
    margin-right: 20px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    background-color: var(--cpc-green);
    color: var(--logo-colour);
    transition: background-color 0.5s ease, border-radius 0.5s ease, margin-right 2s ease;
}

.dropdown:hover .dropbtn {
    background-color: var(--background-color);
    border-radius: 10px 30px;
    padding: 6.5px 20px;
    margin-right: 1px
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    right: 0;
    z-index: 1;
    margin-right: 5px;
}

.dropdown-content a {
    color: var(--cmcl-blue);
    background-color: var(--background-color);
    padding: 10px;
    display: block;
    border-radius: 20px;
    transition: background-color 0.5s ease, border-radius 0.5s ease, transform 0.5s ease;
    float: right;
    font-size: 16px;
    text-align: center;
    margin: 1px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: grey;
    box-shadow: 4px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.toolbar_toolbar {
    width: 100%;
    overflow: hidden;
    flex-flow: row wrap;

    display: flex;
    flex-direction: row;
    justify-content: right;

    min-height: 50px;
    height: 50px;
    background-color: var(--cpc-green);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-style: solid;
    border-width: 1px;
    border-color: var(--logo-colour);

    z-index: 999;
}

.toolbar_spacer {
    height: 100%;
    flex-grow: 1;
}

.toolbar_toolbar .toolbarLogo {
    width: 250px;
    height: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}