/**
* CSS settings for generic framework components.
*
* TODO: This stylesheet needs a major clean-up, there's styles for a
* bunch of obsolete ids and classes in here. Unfortunatly I can't find
* a tool that can do it for me, looks like it'll beed to be done manually.
*/

@media (prefers-color-scheme: light) {
    :root {
        /* Background colors */
        --cmcl-blue: #18677a;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Background colors */
        --cmcl-blue: #18677a;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Inter, sans-serif !important;
    font-size: 12pt;
    color: #3f464f;
    background-color: #f6f8fa
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700
}

#map {
    width: calc(100% - 500px);
    height: 100%;
    float: left;
    z-index: 0;
    background-color: #cad2d3
}

.mapboxgl-popup-content {
    text-align: left;
    width: min-content;
    min-width: 175px;
    min-height: 20px;
    pointer-events: none;
    background: linear-gradient(180deg, #f5f5ff 80%, #e6e6f0 100%);
    font-family: Inter, sans-serif !important;
    font-size: 10pt;
    padding: 5px
}

.mapboxgl-popup-content h3 {
    width: max-content !important;
    min-width: calc(100% - 10px);
    padding: 5px !important;
    margin: 0 !important;
    white-space: nowrap;
    display: inline-block
}

.mapboxgl-popup-content .long-popup {
    min-width: 400px
}

#cesiumMetaBox {
    width: min-content;
    min-width: 175px;
    min-height: 20px;
    pointer-events: none;
    background: linear-gradient(180deg, #f5f5ff 80%, #e6e6f0 100%);
    font-family: Inter, sans-serif !important;
    font-size: 10pt;
    padding: 5px;
    position: absolute;
    bottom: 100px;
    left: 100px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px gray
}

#cesiumMetaBox h3 {
    width: max-content !important;
    min-width: calc(100% - 10px);
    padding: 5px !important;
    margin: 0 !important;
    white-space: nowrap;
    display: inline-block
}

#cesiumMetaBox .desc-popup {
    margin-top: 20px
}

#cesiumMetaBox .long-popup {
    min-width: 400px
}

#sidePanel {
    z-index: 999;
    background-color: var(--cmcl-blue);
    box-sizing: border-box;
    border: 1px solid var(--cmcl-blue);
    box-shadow: 0 4px 8px 0 var(--cmcl-blue);
    font-family: Inter, sans-serif !important;
    font-size: 11pt;
    height: 100%
}

#slideButtonContainer {
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 6px
}

#expandButtonContainer {
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 6px;
    float: right
}

#sidePanel.small {
    position: relative;
    width: 500px;
    height: 100%;
    float: right;
    border-width: 0 0 0 1px
}

#sidePanel.large {
    position: absolute;
    top: 100px;
    left: 100px;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    border-width: 1px;
    border-radius: 8px
}

#sidePanel.large #expandButtonContainer {
    margin-top: -8px;
    margin-right: 20px;
    margin-left: calc(100% - 32px);
    width: 24px;
    height: 24px
}

#sidePanel.collapsed {
    width: 28px
}

#sidePanel.collapsed img.leftButton {
    margin: 6px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

#content-before {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px
}

#sidePanelInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 27px)
}

#titleContainer {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #d3d3d3;
    display: table
}

#titleContainer h1,
h2,
h3,
p {
    display: table-cell;
    vertical-align: middle
}

#titleContainer.clickable:hover {
    opacity: 80%;
    cursor: pointer
}

.description {
    padding-right: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 10pt;
    min-height: 50px;
    max-height: 250px;
    overflow-y: auto
}

#meta-tree {
    flex: 1;
    overflow-y: scroll
}

#legendContainer {
    width: 100%;
    height: 300px;
    min-height: 300px;
    margin-bottom: 10px;
}

#footerContainer {
    text-shadow: 2px 2px 3px #000;
    font-family: Verdana, sans-serif;
    color: #51b7a6;
    text-align: center;
    height: 40px;
    position: absolute;
    bottom: 30;
    left: 0;
    right: 0
}

#returnContainer {
    width: 25%;
    height: 35px;
    position: absolute;
    bottom: 0;
    right: 10;
    text-align: right;
    display: none
}

#innerReturnContainer {
    display: table-cell;
    vertical-align: middle
}

#returnContainer a {
    color: grey !important;
    text-decoration: none !important
}

#footerContent {
    width: 100%;
    height: 100%
}

#legend {
    width: 150px !important;
    height: 298px !important;
    font-size: 10pt;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    box-shadow: none
}

.legend-right {
    height: 300px;
    width: calc(100% - 150px);
    float: right;
    position: relative
}

.legend-right img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(0) !important;
    -moz-transform: rotate(0) !important;
    -o-transform: rotate(0) !important;
    -ms-transform: rotate(0) !important;
    transform: rotate(0) !important
}

.tooltip {
    position: relative;
    display: inline-block
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #232323;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 9pt;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 50%
}

.tooltip:hover .tooltiptext {
    visibility: visible
}

#time-series-container {
    flex: 1;
    font-size: 10pt
}

#time-series-table-container {
    margin-top: 10px;
    border: 1px solid grey;
    height: calc(100% - 25px - 335px);
    overflow-y: scroll
}

#time-series-chart-container {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 300px
}

#time-series-control {
    width: 100%;
    height: 25px
}

#time-series-control label {
    width: 39%;
    height: 100%;
    font-family: Inter, sans-serif !important;
    font-size: 10pt;
    display: inline-block
}

#time-series-control select {
    width: 59%;
    height: 100%;
    display: inline-block;
    font-size: 10pt
}

#time-series-title {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d3d3d3
}

#time-series-container label {
    width: calc(35% - 10px);
    height: 25px !important;
    float: left;
    text-align: right
}

#time-series-container select {
    width: 65%;
    height: 25px !important;
    float: right;
    font-size: 9pt;
    text-align: right
}

.time-series-table {
    border-spacing: 0px;
    border-collapse: separate
}

.time-series-table th {
    background-color: #e1e1e1;
    border-bottom: 1px solid grey;
    color: #333;
    height: 35px
}

.time-series-table td {
    text-align: center;
    padding: 0;
    font-size: 9pt;
    height: 25px
}

.time-series-table tr:hover {
    background-color: #f5f5ff !important
}

.time-series-table tr:nth-child(2n) {
    background-color: #fafafa
}

#selectionsContainer {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    min-height: 100px
}

#selectionsContainer p {
    margin-bottom: 10px
}

#selectContainer {
    height: 25px;
    margin-top: 5px
}

#selectContainer label {
    display: inline-block;
    width: 29%;
    height: 25px
}

#selectContainer select {
    width: 69%;
    height: 25px;
    font-size: 9pt
}

#rootSelectContainer {
    height: 25px;
    margin-top: 5px
}

#rootSelectContainer label {
    display: inline-block;
    width: 29%;
    height: 25px
}

#rootSelectContainer select {
    width: 69%;
    height: 25px;
    font-size: 9pt
}

#chart-canvas {
    height: 100% !important;
    width: 100% !important
}

.empty-icon {
    width: 12px !important;
    min-width: 12px !important
}

.fa-caret-right:before {
    content: "" !important
}

.fa-caret-down:before {
    content: "" !important
}

#metaTabs {
    margin-top: 20px;
    width: 100%
}

#metaTabs button {
    border: 1px solid #ccc;
    background-color: #ddd;
    float: left;
    outline: 0;
    cursor: pointer;
    transition: .3s;
    width: 50%;
    font-size: 10pt;
    height: 40px
}

#treeButton {
    border-radius: 10px 0 0 10px
}

#timeButton {
    border-radius: 0 10px 10px 0
}

#metaTabs button.active {
    background-color: #ccc
}

#metaContainer {
    width: 100%;
    margin-top: 10px;
    overflow-y: hidden;
    flex-grow: 1
}

#metaTreeContainer {
    height: 100%;
    overflow-y: scroll
}

#metaTimeContainer {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%
}

.json-tree-tabscontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none
}

#no-meta-container {
    background-color: #f0f0f0;
    color: #646464;
    text-align: center;
    height: 100%;
    width: 100%;
    display: table
}

#no-meta-container p {
    display: table-cell;
    vertical-align: middle
}

.infoContainer {
    color: #fff !important;
    font-family: Inter, sans-serif !important;
    font-size: 9pt !important
}

#linkedFilesContainer {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 8px;
    padding: 10px
}

#controlTitle {
    width: 100%;
    height: 24px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12pt
}

#controlTitle p {
    width: 50%;
    float: left
}

#controlTitle .tooltip {
    padding-right: 5px;
    float: right
}

#controlTitle .tooltip p {
    text-align: left;
    width: 20px;
    height: 18px;
    line-height: 18px;
    padding-top: 0
}

.switch {
    position: relative;
    display: block;
    width: 30px;
    height: 16px;
    float: right;
    margin-top: 2px;
    margin-right: 16px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked+.slider {
    background-color: #2196f3
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px)
}

.slider.round {
    border-radius: 34px
}

.slider.round p {
    float: right;
    padding-left: 34px;
    padding-top: 2px;
    font-size: 8pt !important
}

.slider.round:before {
    border-radius: 50%
}

#tiltShift {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none
}

#select-feature {
    height: 30px;
    width: calc(85% - 50px);
    float: right;
    margin-right: 25px
}

label[for=select-feature] {
    height: 30px;
    width: 15%;
    float: left;
    margin-left: 25px;
    line-height: 30px
}

#animationIntro {
    width: calc(100% - 20px);
    height: 100px;
    margin: 10px;
    font-size: 10pt;
    border-bottom: 1px solid #e6e6e6
}

#animationContainer {
    width: 100%;
    height: calc(100% - 160px);
    display: flex;
    overflow-y: auto
}

#animationLeft {
    width: 30%;
    padding: 10px;
    margin: 10px 5px 10px 10px;
    flex: 0 1 auto;
    background-color: #f0f0f0;
    border-radius: 8px
}

#animationRight {
    position: relative;
    width: 70%;
    margin: 10px 10px 10px 5px;
    padding: 10px;
    flex: 0 1 auto;
    background-color: #f0f0f0;
    border-radius: 12px
}

#animationLeft table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 11pt
}

#animationLeft tr {
    height: 25px
}

#animationLeft tr input {
    width: 100%;
    height: 25px
}

#animationRow {
    height: 30px;
    margin-bottom: 6px
}

#animationRow select {
    height: 30px;
    width: 10%;
    font-size: 9pt;
    float: left;
    margin-right: 3px
}

#animationRow input {
    height: 25px;
    width: 7%;
    font-size: 9pt
}

#animationRow input.long {
    width: 14%
}

#deleteRow {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    display: flex;
    justify-content: center
}

#deleteRow img {
    display: block;
    margin: auto
}

#animationAddButton {
    height: 25px;
    width: calc(100% - 60px);
    border-radius: 6px;
    background-color: #c8c8c8;
    text-align: center;
    cursor: pointer;
    font-size: 16pt !important;
    position: absolute;
    bottom: 10px;
    left: 30px
}

#animationBottom {
    display: block;
    width: calc(100% - 10px);
    margin-right: 10px;
    height: 30px
}

#animationBottom p {
    float: left;
    width: calc(100% - 300px);
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-size: 9pt;
    font-style: italic;
    text-align: right
}

#animationBottom button {
    width: 120px;
    height: 30px;
    display: inline-block;
    margin-left: 10px
}

#overlay {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999
}

.ui-widget {
    font-family: Inter, sans-serif !important
}

#loadingOverlay {
    position: fixed;
    display: flex;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, .66)
}

#loadingInner {
    width: 250px;
    height: 250px;
    margin: auto;
    vertical-align: top;
    display: inline-block;
    text-align: center
}

* {
    scrollbar-width: auto;
    scrollbar-color: #4b4b4b #c8c8c8
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px
}

::-webkit-scrollbar-track {
    background: 0 0;
    border-radius: 10px;
    border: 1px solid #dcdcdc
}

::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box
}

.json-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: grey;
    box-sizing: border-box
}

.json-container .line {
    margin: 4px 0;
    display: flex;
    justify-content: flex-start
}

.json-container .caret-icon {
    width: 18px;
    text-align: center;
    cursor: pointer;
    padding-top: 4px
}

.json-container .empty-icon {
    width: 18px
}

.json-container .json-type {
    margin-right: 4px;
    margin-left: 4px
}

.json-container .json-key {
    color: #444;
    margin-right: 4px;
    margin-left: 4px
}

.json-container .json-index {
    margin-right: 4px;
    margin-left: 4px
}

.json-container .json-value {
    margin-left: 8px
}

.json-container .json-number {
    color: #f9ae58
}

.json-container .json-boolean {
    color: #ec5f66
}

.json-container .json-string {
    color: #86b25c
}

.json-container .json-size {
    margin-right: 4px;
    margin-left: 4px
}

.json-container .hide {
    display: none
}

.json-container .fas {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid
}

.json-container .fa-caret-down {
    border-width: 6px 5px 0 5px;
    border-color: grey transparent
}

.json-container .fa-caret-right {
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent grey
}

.json-key {
    font-weight: 700;
    margin-right: 0 !important;
    font-size: 9pt !important;
    font-family: Inter, sans-serif !important;
    color: #000 !important
}

.json-value {
    color: navy !important;
    font-size: 9pt !important;
    font-family: Inter, sans-serif !important;
    margin-left: 4px !important
}

.json-separator {
    font-weight: 700;
    font-size: 9pt !important;
    font-family: Inter, sans-serif !important
}

.json-size {
    font-size: 9pt !important;
    font-family: Inter, sans-serif !important;
    color: #646464 !important
}

#featureSelectContainer {
    width: 100%;
    height: 30px
}

#featureSelectContainer select {
    width: 100%;
    height: 100%
}



.ui-tabs-anchor {
    font-size: 10pt;
    font-weight: 700
}

#sidePanelInner .ui-widget-header {
    background: var(--cmcl-blue);
    border: none;
    border-radius: 0;
    padding: 5px 5px 0 5px
}

#sidePanelInner .ui-tabs-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding-top: 0;
    height: 35px
}

.ui-widget-content {
    border: none !important;
    background: #f6f8fa !important;
    color: #3e464f !important
}

.ui-widget.ui-widget-content {
    border: none !important
}

.ui-tabs {
    padding: 0 !important
}

#sidePanelInner .ui-tabs-nav li {
    top: 2px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    height: 25px
}

#sidePanelInner .ui-tabs-nav li.ui-state-active,
#sidePanelInner .ui-tabs-nav li.ui-tabs-selected {
    top: -7px;
    background: #628f9d !important;
    box-shadow: 0 4px 8px 0 #222
}


#sidePanelGeneral,
#sidePanelLegend,
#sidePanelLinks,
#sidePanelAck,
#sidePanelFailure {
    position: relative;
    overflow: auto;
    /* background: linear-gradient(white, rgba(255, 255, 255, 0));
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent);        <-- nice effect but messing with the scroll bar. Can't rn figure how to fix 
    mask-image: linear-gradient(to bottom, black 95%, transparent); 
    margin-bottom: 35px; */
    padding: 1em 1em 3em
}

#contentContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

#sidePanelLinks {
    height: calc(100% - 50px);
    font-size: 10pt
}

#sidePanelLinks a {
    color: #2a6779;
    text-decoration: none
}

#sidePanelLinks li {
    list-style-type: disc !important;
    padding-left: 10px
}

#sidePanelLinks ul:hover a {
    transition: .45s ease;
    color: #ccc
}

#sidePanelLinks ul:hover a:hover {
    color: var(--cmcl-blue);
    text-shadow: #333;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    font-size: 9pt
}

#controlContainer {
    width: 250px;
    height: auto;
    position: fixed;
    left: 0;
    margin: 20px;
    z-index: 1;
    color: #fff;
    font-family: Inter, sans-serif !important;
    font-size: 10pt
}

#controlContainer p {
    margin: 0 0 5px 0
}

#controlContainer a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px
}

#controlContainer a:hover {
    color: #87cefa;
    text-decoration: underline
}

#controlContainer label:hover {
    color: #87cefa;
    text-decoration: underline
}

.controlBlock {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    line-height: 14pt
}

.controlBlock:hover {
    background-color: rgba(0, 0, 0, .6)
}

.controlBlock.collapsed {
    height: 20px
}

.collapsed>.controlContents {
    display: none
}

.controlTitle p {
    cursor: pointer
}

#layerContainer {
    max-height: 550px;
    display: flex;
    flex-flow: column;
    overflow: hidden
}

#layerContainer .controlContents {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    flex-grow: 1;
}

#layerTree {
    padding-left: 0
}

#layerTree ul {
    padding-left: 15px
}

#layerTree ul,
li {
    list-style-type: none
}

#layerTreeContainer {
    min-height: 30vh;
    max-height: 50vh;
    overflow: auto
}

@media only screen and (max-height:900px) {
    #layerTreeContainer {
        max-height: 25vh;
        overflow-y: auto
    }
}

.hummingbird-treeview label {
    background-color: transparent !important;
    color: #fff !important;
    font-family: Inter, sans-serif !important;
    font-size: 8pt !important;
    display: inline-block;
    white-space: nowrap
}

.hummingbird-base {
    padding-inline-start: 0px !important
}

.hummingbird-treeview ul {
    margin: 0 !important;
    padding-inline-start: 15px
}

.end-node {
    padding-inline-start: 15px
}

.fa-chevron-down {
    font-size: 8pt !important;
    line-height: inherit !important;
    vertical-align: middle;
    padding-right: 4px;
    translate: 0px 2px
}

.fa-chevron-up {
    font-size: 8pt !important;
    line-height: inherit !important;
    vertical-align: middle;
    padding-right: 4px;
    translate: 0px 2px
}

.hummingbird-treeview,
.hummingbird-treeview * {
    line-height: 18px !important
}

.hummingbird-treeview input[type=checkbox] {
    margin-right: 4px !important;
    vertical-align: middle;
    width: 14px !important;
    height: 14px !important
}

.hummingbird-treeview span {
    vertical-align: middle;
    font-size: 8pt !important
}

#finderContainer {
    display: table;
    position: absolute;
    bottom: 30;
    left: 20;
    height: 40px;
    width: calc(100% - 540px);
    background-color: rgba(0, 0, 0, .4);
    border-radius: 8px
}

#finderContainer label {
    color: #fff;
    padding-left: 10px;
    font-weight: 700;
    font-size: 12pt;
    display: table-cell;
    height: 40px;
    width: 15%;
    min-width: 175px;
    vertical-align: middle
}

.finderSelectClass {
    height: 30px;
    font-size: 10pt;
    background-color: rgba(0, 0, 0, .25);
    color: #fff;
    text-align: center;
    display: table-cell;
    width: 20%;
    margin-top: 5px
}

.finderSelectClass option {
    background-color: rgba(0, 0, 0, .5) !important
}

#finderRangeSelect {
    margin-left: 10px
}

#finderField {
    display: table-cell;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    width: 54%;
    padding-left: 10px
}

.searchButton {
    color: #fff;
    float: right;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    display: table-cell;
    width: 20px
}

.searchButton i {
    line-height: 40px
}

.tooltiptext.lower {
    position: absolute;
    z-index: 1;
    top: -100%;
    right: 50%;
    width: 175px;
    height: 20px;
    line-height: 20px
}

.cesium-viewer-bottom {
    display: none
}

#attributionContainer {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 0;
    border-radius: 8px 8px 0 0;
    font-size: 9pt !important;
    font-family: Inter, sans-serif !important;
    text-align: center;
    line-height: 30px
}

#attributionContainer span {
    float: left;
    padding-left: 10px;
    margin: 0 !important
}

#attributionContainer i {
    translate: 0px;
    font-size: 10pt !important;
    float: right;
    padding-right: 10px
}

#attributionContainer:hover {
    background-color: rgba(0, 0, 0, .6)
}

#attributionContainer.collapsed {
    width: 250px;
    height: 30px
}

#attributionContainer.expanded {
    width: 500px;
    height: 300px
}

#attributionTitle {
    height: 30px;
    cursor: pointer;
    font-size: 10pt !important
}

#helpContainer {
    width: 20px;
    text-align: center;
    cursor: pointer
}

.tooltiptext.right {
    position: absolute;
    z-index: 1;
    right: -75px;
    width: 75px;
    height: 20px;
    line-height: 20px
}

.mapboxgl-ctrl-bottom-left {
    top: 5px !important;
    right: 5px !important;
    left: revert;
    bottom: revert
}

#sliderParent {
    width: 125px;
    height: calc(100% - 80px);
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 8px;
    padding: 20px
}

#sliderParent.expanded {
    right: 520px
}

#sliderParent.collapsed {
    right: 50px
}

#sliderTop {
    flex-grow: 1;
    display: flex;
    flex-direction: row
}

#sliderLeft {
    flex-grow: 1
}

#sliderRight {
    flex-grow: 0;
    height: calc(100% - 20px);
    width: 12px
}

#sliderBottom {
    height: 40px;
    flex-grow: 0
}

.sliderStep {
    position: absolute;
    width: 70%;
    height: 20px;
    right: 30px;
    margin-left: 20px;
    padding-top: 2px;
    font-size: 10pt;
    border: 1px solid #fff;
    border-width: 1px 0 0 0;
    cursor: pointer
}

.sliderStep:hover {
    text-decoration: underline
}

#sliderInput {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    float: left;
    text-align: right;
    margin-top: 10px
}

#clipControlContainer {
    display: flex;
    flex-direction: column
}

#clipEnableContainer {
    width: 100%;
    height: 30px
}

#clipEnableContainer p {
    font-size: 9pt;
    font-weight: 400;
    float: left;
    line-height: 30px
}

#clipEnableContainer input {
    float: right;
    margin-top: 8px
}

#clipShowContainer {
    width: 100%;
    height: 30px
}

#clipShowContainer p {
    font-size: 9pt;
    font-weight: 400;
    float: left;
    line-height: 30px
}

#clipShowContainer input {
    float: right;
    margin-top: 8px
}

#clipSelectContainer {
    width: 100%;
    height: 60px;
    margin-top: 10px
}

#clipSelectContainer p {
    font-size: 9pt;
    font-weight: 400;
    line-height: 30px
}

#clipSelectContainer select {
    width: 100%;
    height: 25px;
    font-size: 9pt
}

.ui-slider-handler {
    border-radius: 50% !important;
    background: #b8b8b8;
    background-color: #b8b8b8
}

#helpandsearch {
    display: flex
}

#searchIconContainer {
    display: block;
    width: 20px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px
}

#popup {
    display: none;
    overflow: auto;
    position: absolute;
    min-width: 50px;
    max-width: 400px;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    text-align: left
}

#popup b {
    font-size: 11pt
}

#popup p {
    font-size: 10pt
}

.thumbnail {
    min-width: 100px;
    max-width: 360px;
    padding: 20px;
    object-fit: cover
}

#scenario-container {
    width: 100%;
    height: 100%;
    position: absolute
}

#scenario-blocker {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 1000;
    position: absolute;
    pointer-events: none
}

#scenario-popup {
    position: absolute;
    background-color: #fff;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    border-radius: 20px;
    z-index: 1001
}

#scenario-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
    text-align: center;
    display: table
}

#scenario-close i {
    vertical-align: middle;
    display: table-cell;
    color: grey
}

#scenario-header {
    position: absolute;
    top: 25px;
    left: 15px;
    height: 75px;
    right: 15px;
    font-family: Inter, sans-serif !important;
    font-size: 1.1em
}

#scenario-inner {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 30px;
    top: 120px;
    border: 1px solid gray;
    overflow-y: auto
}

#scenario-loading {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center
}

.scenario-element {
    height: 100px;
    padding: 10px;
    border-style: solid;
    border-width: 0 0 1 0;
    border-color: #d3d3d3;
    background-color: #fff;
    font-size: 80%;
    line-height: 110%;
    position: relative
}

.scenario-element:hover {
    background-color: #add8e6
}

.scenario-element .scenario-button {
    visibility: hidden;
    position: absolute;
    right: 25px;
    bottom: 10px;
    width: 100px;
    height: 25px
}

.scenario-element:hover .scenario-button {
    visibility: visible
}

#scenarioChangeContainer {
    cursor: pointer;
    text-decoration: inherit;
    display: none
}

#scenarioChangeContainer:hover {
    text-decoration: underline
}

#scenarioChangeContainer p {
    font-size: 10pt;
    font-weight: 400
}

#dashButtonContainer {
    cursor: pointer
}

#dashButtonContainer p {
    font-size: 10pt !important;
    font-weight: 400 !important;
    text-decoration: none
}

#dashButtonContainer:hover {
    text-decoration: underline
}

.ui-tabs-active,
.ui-tabs-tab {
    background-color: #f6f8fa
}

.ui-tabs-default,
.ui-tabs-tab {
    box-shadow: 0 4px 8px 0 #000;
    background: unset;
    background-color: #f6f8fa
}

/* override jquery-ui.css styling for hovering over sidebar tabs */

.ui-state-hover,
.ui-state-active,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button,
.ui-button:hover,
.ui-button:focus,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: unset;
    z-index: 1;
}

/* zoom and compass element shifted down below the mapbox logo */
.mapboxgl-ctrl-top-right {
    top: 30px;
}

#waveAnimationContainer {
    bottom: 0;
    position: absolute;
    width: 100%;
}