target
*.jar
*.war
*.class
.DS_Store
/*/target
/*/.settings/
/*/.project
/*/.classpath
/*/bin/
*.zip
*.tar.gz
*.pyc
/*/__pycache__/
.idea/
venv/

/data/input/raw/*
!.gitkeep

/data/input/processed/*
!.gitkeep

/data/models/*
!.gitkeep

/data/output/*
!.gitkeep
