<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>TWA Equipment Booking</title>
    </head>

    <body>
        <h1>TWA Equipment Booking</h1>
        <form action="booking" method="post">

            <!-- booker -->
            <fieldset class="user-def">
                <legend>User</legend>
                <span class="user-def">Please specify the user making the booking:</span><br><br>

                <select name="user_def" id="user_def" class="Input">
                    <option value="" disabled selected>Please select user</option>
                    {% for u in lab_users %}
                    <option value="{{ u.iri }}">{{ u.display }}</option>
                    {% endfor %}
                </select>
            </fieldset><br><br>

            <br><br>

            <!-- equipment -->
            <fieldset class="equipment-def">
                <legend>Equipment</legend>
                <span class="equipment-def">Please select equipment to be booked:</span><br>

                <select name="equipment_def" id="equipment_def" class="Input">
                    <option value="" disabled selected>Please select asset</option>
                    {% for a in bookable_assets %}
                    <option value="{{ a.iri }}" id_info="{{a.id}}" supp_info="{{a.supplier}}" manu_info="{{a.manufacturer}}" loc_info="{{a.location}}">{{ a.display }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <span id="equipment_id_display"></span><br>
                <span id="equipment_supp_display"></span><br>
                <span id="equipment_manu_display"></span><br>
                <span id="equipment_loc_display"></span><br>
            </fieldset><br><br>

            <br><br>

            <!-- restrictions -->
            <fieldset class="restrictions">
                <legend>Period</legend>
                <span class="restrictions">Please specify the booking period:</span><br><br>

                <!-- bookingStart -->
                <label for="bookingStart">Start:</label>
                <input type="datetime-local" id="bookingStart" name="bookingStart"><br><br>

                <!-- bookingEnd -->
                <label for="bookingEnd">End:</label>
                <input type="datetime-local" id="bookingEnd" name="bookingEnd"><br><br>
            </fieldset><br><br>

            <br><br>

            <!-- laboratories involved -->
            <div>
                <span>At the moment, only equipment with pre-existing booking system can be booked.
                    <br>Please contact developers of TheWorldAvatar if more features needed.</span><br><br>
            </div><br><br>

            <br><br>

            <!-- submit button -->
            <input type="submit" value="Submit">
        </form>
    </body>
</html>

<script>
    document.getElementById('equipment_def').addEventListener('change', function() {
        var selectedIndex = this.selectedIndex;
        var selectedOption = this.options[selectedIndex];
        var equipmentId = selectedOption.getAttribute('id_info');
        var equipmentSupplier = selectedOption.getAttribute('supp_info');
        var equipmentManufacturer = selectedOption.getAttribute('manu_info');
        var equipmentLocation = selectedOption.getAttribute('loc_info');
        document.getElementById('equipment_id_display').textContent = 'Equipment with ID: ' + equipmentId;
        document.getElementById('equipment_supp_display').textContent = 'Supplier: ' + equipmentSupplier;
        document.getElementById('equipment_manu_display').textContent = 'Manufacturer: ' + equipmentManufacturer;
        document.getElementById('equipment_loc_display').textContent = 'Location: ' + equipmentLocation;
    });
</script>