APScheduler==3.10.4
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
concurrent-log-handler==0.9.25
cssselect==1.2.0
cssutils==2.11.0
docopt==0.6.2
Flask==2.1.0
Flask-APScheduler==1.12.4
gunicorn==20.0.4
idna==3.7
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
portalocker==2.8.2
premailer==3.10.0
py4j==0.10.9.1
py4jps==1.0.38
pyderivationagent==1.6.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
rdflib==7.0.0
requests==2.32.2
setuptools==70.0.0
six==1.16.0
tzlocal==5.2
urllib3==2.2.1
Werkzeug==2.2.3
yagmail==0.15.293
