version: '3.8'
services:
  ukpowergeneration_agent:
    image: ghcr.io/cambridge-cares/ukpowergeneration_agent_debug:1.0.0
    build:
      context: .
      target: debug
    ports:
      - "${DEBUG_PORT}:5678"
    volumes:
      - ./agent:/app/agent
