.menuItem  {
    width: 100%;
    height: 35px;

    padding: 0px 4px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
}
.menuItem:hover {
    background-color: var(--background-tertiary);
}
.menuItem .text {
    flex-grow: 1;
    font-size: 12pt !important;
}
.menuItem .icon {
    width: auto;
    height: 100%;
    flex-grow: 0;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
}