#
# This file lists the library requirements for the scripts that
# will be copied into the Power System visualisation Image.
#
# At the time of writing, only requirements for the following 
# scripts are covered:
#
#	- JSON_Generator.py
#

matplotlib
numpy
pandas
SPARQLWrapper
tqdm
Shapely==1.6.4.post2
geojson
#ast
time