/* Common component elements */
#dynamicInterfaceContainer {
  z-index: 1000;
  box-sizing: border-box;
  margin: 1em 0 0 0;
  font-size: 11pt;
}

#dynamicComponentTitle {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #bebebe;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 99%;
  font-size: 10pt;
  height: 40px;
}

#dynamicComponentTitle:hover {
  background-color: #228AA2;
}

#dynamicContent {
  display: block;
  padding: 0 18px;
  overflow: hidden;
  transition: opacity 0.2s ease-out, height 0.2s ease-out;
}

/* Application-specific classes   */
.asset-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em 0 0;
  background-color: rgb(233, 233, 233);
}

.asset-card {
  width: 49%;
  padding: 0.3em 0.5em;
  margin: 0 0 0.5em;
  box-sizing: border-box;
}

.asset-card-line {
  display: flex;
  margin: 4px 0;
}