services:
  keycloak-dev:
    restart: always
    container_name: "keycloak-dev-server"
    image: keycloak/keycloak:latest
    ports:
      - "8081:8080"
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}    
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-theworldavatar}
      KC_LOG_LEVEL: info
      KC_DB: postgres
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD:-theworldavatar}
      KC_DB_POOL_MAX_SIZE: 50
      KC_DB_URL_HOST: postgres
    command: start-dev --import-realm
    volumes:
      - ./realm:/opt/keycloak/data/import:ro # the realm to import
    depends_on:
      - postgres
    networks:
      - auth-network

  redis:
    restart: always
    container_name: "bnl-redis"
    image: redis:latest
    ports:
      - "6379:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - auth-network

  postgres:
    restart: always
    container_name: "postgres"
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres # default user for the container os
      PGUSER: postgres # default user for psql
      POSTGRES_DB: keycloak
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-theworldavatar}
      # POSTGRES_PASSWORD_FILE: /run/secrets/postgres-password
    secrets:
      - postgres-password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d keycloak -U postgres"]
      interval: 1s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - auth-network

  pgadmin:
    restart: always
    container_name: "pgadmin"
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_LOGIN_EMAIL:-user@example.com}
      PGADMIN_DEFAULT_PASSWORD: ${POSTGRES_PASSWORD:-theworldavatar}
      HOSTNAME: postgres
      DATABASE: keycloak
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - auth-network

networks:
  auth-network:
    driver: bridge