.icon-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.elongated-icon-button-container {
    flex-direction: column;
    width: 50px;
    height: 100%;
}

.icon-button {
    color: var(--border-tertiary);
}

.icon-button:hover {
    color: var(--border-secondary);
}

.large-icon {
    font-size: var(--icon-size) !important;
}

/** Alignments **/
.push-right {
    margin-left: auto;
}