ONTOAGENT_SERVICE_IRI=http://www.theworldavatar.com/resource/agents/Service__Agilent__CAM/Service
DERIVATION_PERIODIC_TIMESCALE=5
DERIVATION_INSTANCE_BASE_URL=http://www.theworldavatar.com/triplestore/repository/
SPARQL_QUERY_ENDPOINT=http://localhost:48082/blazegraph/namespace/kb/sparql
SPARQL_UPDATE_ENDPOINT=http://localhost:48082/blazegraph/namespace/kb/sparql
KG_USERNAME=
KG_PASSWORD=
FILE_SERVER_ENDPOINT=http://localhost:48086/FileServer/
FILE_SERVER_USERNAME=
FILE_SERVER_PASSWORD=
ONTOAGENT_OPERATION_HTTP_URL=/

HPLC_DIGITAL_TWIN=http://example.com/blazegraph/namespace/testlab/dummy_lab__CAM/HPLC_Dummy
HPLC_REPORT_PERIODIC_TIMESCALE=5
HPLC_REPORT_CONTAINER_DIR=/app/CHEM32/
CURRENT_HPLC_METHOD=http://example.com/blazegraph/namespace/testlab/dummy_lab/HPLCMethod_Dummy
HPLC_REPORT_FILE_EXTENSION=xls
HPLC_REPORT_HOST_DIR=./folder
