version: "3.8"

services:
  resultedconsumptioncalculationagent:
    image: ghcr.io/cambridge-cares/resultedconsumptioncalculationagent:1.0.0-SNAPSHOT
    environment:
      #--- Stack & Stack Client parameters ---#
      - STACK_NAME=${STACK_NAME}
      # Specify PostGIS/PostgreSQL database name
      - DATABASE=postgres
      # Specify Blazegraph namespace
      - NAMESPACE=heatpump
      #--- Derivation Agent parameters ---#
      # For details, see: https://github.com/cambridge-cares/TheWorldAvatar/blob/main/JPS_BASE_LIB/python_derivation_agent/pyderivationagent/conf/agent_conf.py
      - ONTOAGENT_SERVICE_IRI=http://www.theworldavatar.com/resource/agents/Service__KL_ResultedConsumptionCalculation/Service
      # Host and port of ONTOAGENT_OPERATION_HTTP_URL should match port specified in `port` node below
      - ONTOAGENT_OPERATION_HTTP_URL=http://localhost:5200/ResultedConsumptionCalculation
      - DERIVATION_INSTANCE_BASE_URL=https://www.theworldavatar.com/kg/derivation/
      - DERIVATION_PERIODIC_TIMESCALE=604800
      - REGISTER_AGENT=true
      # Required inputs, although values retrieved from Stack clients actually used when initialising DerivationAgent
      - SPARQL_QUERY_ENDPOINT=''
      - SPARQL_UPDATE_ENDPOINT=''
      # Required inputs, although not used when initialising DerivationAgent
      - KG_USERNAME=''
      - KG_PASSWORD=''
      - FILE_SERVER_ENDPOINT=''
      - FILE_SERVER_USERNAME=''
      - FILE_SERVER_PASSWORD=''
      # --- Miscellaneous --- #
      #TODO: Check whether that's still needed
      - LOG4J_FORMAT_MSG_NO_LOOKUPS=true
      # --- Index / Assumptions Space --- #
      # !!!! NO SPACING AFTER '='!!!!
      
      # The year of the index, will be used to instantiate the indecies in the KG
      - YEAR=2020
      # A list containing 12 data represents the consumption value from Jan to Dec
      - ELECTRICITY_CONSUMPTION_PROFILE=[28.19,26.08,26.82,20.73,20.48,20.36,21.38,21.95,22.39,25.14,25.91,27.89]
      - GAS_CONSUMPTION_PROFILE=[7.88,7.54,7.54,4.86,4.14,3.78,3.78,3.64,4.05,6.09,6.74,8.46]
      # Select the variable of COP to use
      # Max / Mean / Min
      - COP_VAR=Mean
      # Assumptions
      - UPTAKE=0.5
      - PROPORTION_OF_HEATING=0.9
      - BOILER_EFFICIENCY=0.8
    ports:
      - "5200:5000"
    volumes:
      - logs:/root/.jps
    configs:
      - blazegraph
      - postgis
      - ontop
    secrets:
      - postgis_password

volumes:
  logs:
    name: "logs"
