version: '3.8'
services:
  epc_agent:
    image: ghcr.io/cambridge-cares/epc_agent_debug:1.0.0-SNAPSHOT
    build:
      context: .
      target: debug
    ports:
      - "${DEBUG_PORT}:5678"
    volumes:
      - ./agent:/app/agent
