.container {
  width: 90vw;
  padding: 1rem 2rem 0.5rem;
  margin: 1rem;

  background-color: var(--background-primary);
  border: 1px solid var(--border-primary) !important;
  border-radius: 20px;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-title {
  text-wrap: nowrap;
}

.form-contents {
  padding: 0.5rem;
  margin: 0.5rem 0 0;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-secondary);
}

.form-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;

  border-style: solid;
  border-color: var(--border-primary);
  border-width: 1px 0 0 0;
}

.footer-button {
  padding: 0.25rem 1rem !important; 
}

.form-button {
  flex-direction: row-reverse;
  padding-left: 1rem;
}

.form-button-text {
  font-size: var(--font-size-primary-text);
  color: var(--text-color-links);
}

.form-button-text:hover {
  color: var(--text-color-links-hover);
}

.form-button-icon {
  color: var(--text-color-links);
}

.form-button-icon:hover {
  color: var(--text-color-links-hover);
}

.form-fieldset {
  border-width: 1px 0 0;
}

.form-fieldset-label {
  margin: 0 0.25rem 0.5rem;
  padding: 0.25rem;
  font-weight: bold;
  font-size: var(--font-size-secondary-text);
}

.form-fieldset-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-dependent-fieldset {
  border-width: 0 0;
  margin: 1rem 0 0.5rem;
}

.form-dependent-button-layout {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.form-menu {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  width: fit-content;

}

.form-menu-item {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  text-align: center;
  margin: 0 0.75rem;
  padding: 0.2rem 0.5rem;
  border: none;
  border-bottom: 1px solid var(--border-primary);
  font-size: var(--font-size-tertiary-text);
  background-color: var(--background-primary);
  color: var(--text-color-primary);
}

.form-menu-item:last-child {
  border: none;
}

.form-menu-item:hover {
  color: var(--text-color-links-hover);
}

.schedule-occurrence-container {
  width: 100%;
  margin: 0 1rem 0.5rem;
}

.schedule-occurrence-input {
  width: 2.25rem;
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  text-align: center;

  background-color: var(--background-primary);
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.schedule-day-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.5rem;
  width: 90%;
}

.time-slot-container {
  width: 100%;
}

.loader-container {
  margin-right: 0.5rem;
}

.button {
  display: flex;
  margin: 0 0.75rem;
  padding: 0.2rem 0.5rem;
  border-radius: .25rem;

  background-color: var(--background-primary);
  color: var(--text-color-primary);
}

.button:hover {
  background-color: var(--background-tertiary);
}

.button-text {
  font-size: var(--font-size-tertiary-text);
  margin-left: 0.25rem;
}

@media only screen and (max-width: 480px) {
  .form-fieldset-contents {
    flex-direction: column;
  }

  .form-dependent-button-layout {
    flex-direction: column;
    gap: 1rem;
  }

  .schedule-day-container {
    flex-direction: column;
  }
}