ONTOAGENT_SERVICE_IRI=https://www.theworldavatar.com/kg/agents/Service__VapourtecSchedule/Service
DERIVATION_PERIODIC_TIMESCALE=120
DERIVATION_INSTANCE_BASE_URL=https://www.theworldavatar.com/triplestore/repository/
SPARQL_QUERY_ENDPOINT=http://localhost:8080/blazegraph/namespace/kb/sparql
SPARQL_UPDATE_ENDPOINT=http://localhost:8080/blazegraph/namespace/kb/sparql
KG_USERNAME=
KG_PASSWORD=
FILE_SERVER_ENDPOINT=
FILE_SERVER_USERNAME=
FILE_SERVER_PASSWORD=
ONTOAGENT_OPERATION_HTTP_URL=http://localhost:7000/VapourtecSchedule
REGISTER_AGENT=false

MAX_THREAD_MONITOR_ASYNC_DERIVATIONS=1
EMAIL_RECIPIENT=
EMAIL_SUBJECT_PREFIX=VapourtecScheduleAgent
EMAIL_USERNAME=
EMAIL_START_END_ASYNC_DERIVATIONS=true
