@import 'top-banner';

img {
  &.emission-fig, &.carbon, &#annual-baseline {
    max-width: 100%;
    max-height: 100%;
    padding: 0 0;
  }
}

img#annual-baseline {
  max-height: 300px;
}

.row {
  margin: 0 0;
  max-height: 300px;
}

img.carbon {
  max-height: 300px;
}

[class^="col"].emission-fig {
  padding: 0;
  max-height: 100%;
}

//img.emission-fig {
//  min-height: 200px;
//  min-width: 320px;
//}

[class^="col"].carbon {
  max-height: 300px;
  padding: 0;
}

[class^="col"].carbon:nth-child(1) {
  text-align: right;
}

.row.main {
  min-height: 300px;
}

form {
  margin: 20px 0 0 20px;
}

select {
  height: 26px;
}

//.thumbnail {
//  overflow: hidden;
//  position: relative;
//  cursor: pointer;
//  opacity: 1;
//  margin: 1rem;
//  padding: 1rem;
//  border: 1.4px lightslategrey groove;
//  -webkit-border-radius: 0.5em;
//  -moz-border-radius: 0.5em;
//  -webkit-transition: opacity 0.5s ease-in;
//  -moz-transition: opacity 0.5s ease-in;
//  -o-transition: opacity 0.5s ease-in;
//  transition: opacity 0.5s ease-in;
//}
//
//.thumbnail.load {
//  opacity: 1;
//}
//
//.thumbnail:hover > div {
//  transform: scale(1.1);
//  transition: all 0.5s;
//}

//.bgmask {
//  background: #000;
//  opacity: 0.7;
//  z-index: 100;
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  bottom: 0;
//  right: 0;
//}