body {
	overflow: hidden;
	background-color: #191A1A
}

h1 {
	position: relative;
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
	color: #C4C4C4;
	font-family: Helvetica, sans-serif;
}

h2 {
	text-align: center;
	color: #C4C4C4;
}

h3 {
	text-align: center;
	color: #C4C4C4;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: calc(100% - 405px);
}

#side-panel {
	text-align: center; 
	box-sizing: border-box; 
	border-left: 2px solid #707070;
	background-color: #ffffff;
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
	overflow-x: hidden;
	transition: 0.5s;
}

#closebtn {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 14px;
	padding-top: 10px;
	padding-right: 10px;
	color: grey;
	text-decoration: none;
}

#titleContainer {
	width: auto;
	height: 40px;
	
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
	
	display: flex;
    flex-direction: column;
    justify-content: center;
	font-weight: bold;
	
	border-bottom: 1px solid #e1e1e1;
}


#subtitleContainer {
	width: auto;
	height: 25px;
	
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 10px;
	
	font-size: 65%;
}

#chartContainer {
	width: auto;
	height: 350px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#tableContainer {
	width: auto;
	height: calc(100% - 500px);
	overflow: auto;
	overflow-x: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
}

.line {
	fill: none;
	stroke: #199edf;
}

.points {
	fill: #199edf;
	stroke: #199edf;
}

.xlabel {
	font-size: 10pt;
}

#dataTable {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
	font-size: 12pt;
}

#dataTable tr {
	width: 50%;
}

#dataTable th {
	border: 1px solid #e1e1e1;
	font-weight: bold;
	height: 30px;
}

#dataTable td {
	border: 1px solid #e1e1e1;
	padding: 0;
	height: 20px;
	font-size: 11pt;
}

#noData {
	width: 100%;
	height: 100%;
	background-color:#e1e1e1;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

#noData p {
	color: #707070;
}

#resetContainer a {
	color: white;
	text-decoration: none;
}

#resetContainer a:hover {
	text-decoration: underline;
}
