pandas==1.1.2
docopt==0.6.2
matplotlib==3.3.4
geojsoncontour==0.4.0
pyproj==3.0.1
altgraph==0.15
future==0.16.0
macholib==1.9
numpy==1.15.4
scipy==1.5.4
pefile==2017.11.5
PyInstaller==3.3.1
pypiwin32==223; sys_platform == 'win32'
pywin32==223; sys_platform == 'win32'
https://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-win_amd64.whl; sys_platform == 'win32'
git+https://github.com/cornellius-gp/gpytorch@alpha#egg=gpytorch
