.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.5rem 0rem 0.3rem;
}

.ribbon-button-container {
  display: flex;
  flex-direction: row;
}

.icon{
  color: var(--text-color-links);
  margin-left: 0.45rem;
}

.icon:hover {
  color: var(--text-color-links-hover);
}

@media only screen and (max-width: 480px) {
  .menu {
    justify-content: flex-start;
  }

  .ribbon-button-container {
    flex-direction: column;
  }
}