.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0.5rem 0rem 0.3rem;
}

.ribbon-button-container {
  display: flex;
  flex-direction: row;
}

.ribbon-button {
  display: flex;
  padding: 0.2rem 0.5rem;
  border-radius: .25rem;

  background-color: var(--background-secondary);
  color: var(--text-color-primary);
}

.ribbon-button:hover {
  background-color: var(--background-tertiary);
}

.ribbon-button-layout {
  width: fit-content;
  margin-left: 1rem;
  margin-bottom: 0;
}

.button-text {
  font-size: var(--font-size-tertiary-text);
  margin-left: 0.25rem;
}

@media only screen and (max-width: 480px) {
  .menu {
    justify-content: flex-start;
  }

  .ribbon-button-container {
    flex-direction: column;
  }

  .ribbon-button-layout {
    width: 40vw;

    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}