version: "3.8"

services:
  # access-agent
  access-agent:
    image: ghcr.io/cambridge-cares/access-agent:1.7.0
    container_name: access-agent
    environment:
        LOG4J_FORMAT_MSG_NO_LOOKUPS: "true"
        STOREROUTER_ENDPOINT: "http://blazegraph-access-agent:8080/blazegraph/namespace/kb/sparql"
        RDB_STOREROUTER_ENDPOINT: "http://www.theworldavatar.com/blazegraph/namespace/ontordbrouter/sparql"
    pull_policy: if_not_present
    ports:
      - 48888:8080
    networks:
      - default
      
  # Blazegraph
  blazegraph:
    image: docker.cmclinnovations.com/blazegraph:1.0.0-SNAPSHOT
    container_name: "blazegraph-access-agent"
    environment:
      LOG4J_FORMAT_MSG_NO_LOOKUPS: "true"
    pull_policy: if_not_present
    restart: unless-stopped
    volumes:
      - blazegraph_data:/data
    ports:
      - 48889:8080
    networks:
      - default
      
# Volumes
volumes:
  blazegraph_data:
  
networks:
  default:
    name: access_agent