appdirs==1.4.4
argcomplete==1.12.2
astroid==2.4.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
distlib==0.3.1
docopt==0.6.2
et-xmlfile==1.0.1
fake-useragent==0.1.11
filelock==3.0.12
idna==2.10
importlib-metadata==2.1.1
isodate==0.6.0
isort==5.6.4
lazy-object-proxy==1.4.3
lxml==4.6.3
mccabe==0.6.1
numpy==1.20.1
openpyxl==3.0.7
packaging==20.7
pandas==1.2.3
parse==1.19.0
pipx==0.15.6.0
py4j==0.10.9.1
py4jps @ file:///Users/tomsavage/Downloads/py4jps-1.0.0-py3-none-any.whl
pyee==8.1.0
pylint==2.6.0
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2021.1
rdflib==5.0.0
requests==2.25.1
requests-html==0.10.0
Shapely==1.7.1
six==1.15.0
soupsieve==2.2.1
SPARQLWrapper==1.8.5
tabulate==0.8.9
toml==0.10.2
tqdm==4.59.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.4
userpath==1.4.1
virtualenv==20.4.3
w3lib==1.22.0
websockets==8.1
wrapt==1.12.1
xlrd==2.0.1
zipp==3.4.1
