ONTOAGENT_SERVICE_IRI=http://www.theworldavatar.com/resource/agents/Service__KL_PropertyValueEstimation/Service
ONTOAGENT_OPERATION_HTTP_URL=http://localhost:5012/Toy
REGISTER_AGENT=false
DERIVATION_PERIODIC_TIMESCALE=30
DERIVATION_INSTANCE_BASE_URL=https://www.theworldavatar.com/kg/derivation/
# Required inputs, although values retrieved from Stack clients actually used when initialising Derivation Agent
SPARQL_QUERY_ENDPOINT=''
SPARQL_UPDATE_ENDPOINT=''
# Required inputs, although not used when initialising Derivation Agent
KG_USERNAME=''
KG_PASSWORD=''
FILE_SERVER_ENDPOINT=''
FILE_SERVER_USERNAME=''
FILE_SERVER_PASSWORD=''


For details, please see:
https://github.com/cambridge-cares/TheWorldAvatar/tree/main/JPS_BASE_LIB/python_derivation_agent
https://github.com/cambridge-cares/TheWorldAvatar/blob/main/JPS_BASE_LIB/python_derivation_agent/pyderivationagent/conf/agent_conf.py
https://github.com/cambridge-cares/TheWorldAvatar/blob/main/JPS_BASE_LIB/python_derivation_agent/pyderivationagent/agent/derivation_agent.py