#######################################
## The World Avatar related packages ##
#######################################
py4jps==1.0.37
pyderivationagent==1.5.0

##########################
## Third-party packages ##
##########################
Flask==2.1.0
CoolProp==6.5.0

pandas == 1.2.3
numpy == 1.20.1
tabulate == 0.8.9
scikit-learn == 0.24.1