absl-py==0.9.0
aiofiles==0.5.0
aiohttp==3.6.2
anytree==2.8.0
APScheduler==3.6.3
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
beautifulsoup4==4.9.1
blis==0.4.1
boto==2.49.0
boto3==1.14.28
botocore==1.17.28
bs4==0.0.1
cachetools==4.1.1
cachier==1.4.4
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
chemparse==0.1.0
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.3
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
contextvars==2.4
cryptography==3.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
decorator==4.4.2
diskcache==5.0.3
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
fbmessenger==6.0.0
Flask==1.1.2
Flask-Cache==0.13.1
Flask-SocketIO==4.3.1
flask_cors==3.0.10
funcy==1.14
future==0.17.1
fuzzywuzzy==0.18.0
gast==0.2.2
gensim==3.8.3
gevent==1.5.0
graphviz==0.14.1
greenlet==0.4.16
grpcio==1.30.0
gunicorn==20.0.4 
h11==0.8.1
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.7.22
httplib2==0.18.1
httptools==0.1.1
httpx==0.9.3
humanfriendly==8.2
hyperframe==5.2.0
idna==2.10
idna-ssl==1.1.0
immutables==0.14
importlib-metadata==1.7.0
inflect==4.1.0
iniconfig==1.0.1
isodate==0.6.0
itsdangerous==1.1.0
jaraco.itertools==5.0.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonpickle==1.4.1
jsonschema==3.2
kafka-python==1.4.7
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mattermostwrapper==2.2
more-itertools==8.4.0
multidict==4.7.6
murmurhash==1.0.2
networkx==2.4
nltk==3.5
numexpr==2.7.1
numpy==1.19.1
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.3.0
# Owlready2==0.24
packaging==20.0
pandas==1.1.0
pathtools==0.1.2
pika==1.1.0
Pillow==7.2.0
plac==1.1.3
pluggy==0.13.1
portalocker==2.0.0
preshed==3.0.2
prompt-toolkit==2.0.10
protobuf==3.12.2
psycopg2-binary==2.8.5
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.1
PyJWT==1.7.1
pykwalify==1.7.0
pyLDAvis==2.1.2
pymongo==3.8.0
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.0.1
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
python-telegram-bot==12.8
pytz==2019.3
pywin32==228;sys_platform == 'win32'
PyYAML==5.3.1
questionary==1.5.2
rapidfuzz==1.4.1
rasa==1.10.8
rasa-sdk==1.10.2
rdflib==5.0.0
redis==3.5.3
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rocketchat-API==1.3.1
rsa==4.6
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
sanic==19.12.2
Sanic-Cors==0.10.0.post3
sanic-jwt==1.4.1
Sanic-Plugins-Framework==0.9.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
selenium==3.141.0
six==1.15.0
sklearn-crfsuite==0.3.6
slackclient==2.7.3
smart-open==2.1.0
sniffio==1.1.0
soupsieve==2.0.1
spacy==2.3.2
SPARQLWrapper==1.8.5
SQLAlchemy==1.3.18
srsly==1.0.2
tabulate==0.8.7
tensorboard==2.1.1
tensorflow==2.1.1
tensorflow-addons==0.7.1
tensorflow-estimator==2.1.0
tensorflow-hub==0.8.0
tensorflow-probability==0.9.0
termcolor==1.1.0
terminaltables==3.1.0
thinc==7.4.1
toml==0.10.1
tornado==6.0.4
tqdm==4.45.0
twilio==6.26.3
typing-extensions==3.7.4.2
tzlocal==2.1
ujson==2.0.3
uritemplate==3.0.1
urllib3==1.25.10
wasabi==0.7.1
watchdog==0.10.3
wcwidth==0.2.5
webexteamssdk==1.3
websockets==8.1
Werkzeug==1.0.1
wincertstore==0.2
wolframalpha==4.0.0
wordcloud==1.7.0
wrapt==1.12.1
xmltodict==0.12.0
yagmail==0.14.256
yarl==1.5.0
zipp==3.1.0