spacy==2.3.2
Flask==1.1.2
fuzzywuzzy==0.18.0
yagmail==0.14.256
wolframalpha==4.0.0
SPARQLWrapper==1.8.5
selenium==3.141.0
redis==3.5.3
rasa==1.10.8
rapidfuzz==1.4.1
# pywin32==228;sys_platform == 'win32'
python-socketio==4.5.1
pyLDAvis==2.1.2
nltk==3.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
Flask-Cors==3.0.10
Flask-SocketIO==4.3.1
bs4==0.0.1
gensim==3.8.3
chemparse==0.1.0
