SPARQL_QUERY_ENDPOINT       = 'http://address:port/blazegraph/namespace/namespaceName'
SPARQL_UPDATE_ENDPOINT      = ''
KG_USERNAME                 = 'exampleName'
KG_PASSWORD                 = 'examplePassword'