.ribbonComponent {
    width: 100px;
    height: auto;
    padding: 4px;

    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: var(--border-primary);

    display: flex;
    flex-direction: column;
}

.ribbonComponentInner {
    width: 100%;
    min-height: 82px;
    flex-grow: 1;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}
.ribbonComponentInner:hover {
    background-color: var(--background-secondary);
}
.ribbonComponentInner.toggled {
    background-color: var(--background-secondary);
}
.ribbonComponentInner:active {
    outline: 1px solid var(--border-tertiary);
}

.ribbonComponentInnerDisabled {
    width: 100%;
    min-height: 82px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ribbonComponentIcon {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ribbonComponentIcon span {
    font-size: 44pt !important;
    text-align: center;
}
.ribbonComponentIcon svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.ribbonComponentIcon svg path {
    fill: var(--text-color-primary) !important;
}

.ribbonComponentText {
    width: 100%;
    height: 16px;
    text-align: center;
    font-size: var(--font-size-tertiary-text);

    display: flex;
    justify-content: center;
    align-items: center;
}

.ribbonComponentArrow {
    width: 100%;
    height: 10px;
    flex-grow: 0;
    cursor: pointer;

    font-size: var(--font-size-h2) !important;
    line-height: 10pt !important;
}
.ribbonComponentArrow:hover {
    background-color: var(--background-secondary);
}

.ribbonDropdown {
    margin-top: 10px;
    flex-grow: 1;
    width: 100%;
    border: 1px solid var(--background-primary);

    background-color: var(--background-tertiary);
}
.ribbonOption {
    width: 100%;
    height: 25px;
    padding: 0px 3px;
    cursor: pointer;
    display: table;
}
.ribbonOption p {
    font-size: var(--font-size-secondary-text);
    display: table-cell;
    vertical-align: middle;
}
.ribbonOption:hover {
    background-color: var(--background-secondary);
}
.ribbonOption.active {
    background-color: var(--background-primary);
}