.container {
  position: relative;
}

.decagon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(34.54915% 2.44717%,
      65.45085% 2.44717%,
      90.45085% 20.61074%,
      100% 50%,
      90.45085% 79.38926%,
      65.45085% 97.55283%,
      34.54915% 97.55283%,
      9.54915% 79.38926%,
      0% 50%,
      9.54915% 20.61074%);
}

.start {
  height: 100%;
  width: 100%;
  opacity: 0.25;
}

.middle {
  height: 75%;
  width: 75%;
  opacity: 0.5;
}

.end {
  height: 50%;
  width: 50%;
  opacity: 1;
}