.icon-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.elongated-icon-button-container {
    flex-direction: column;
    width: 50px;
    height: 100%;
}

.icon-button {
    color: var(--text-color-primary);
    transition: color 0.3s ease;
}

.hover:hover {
    color: var(--border-tertiary);
}

.large-icon {
    font-size: var(--icon-size) !important;
}


.small-icon {
    font-size: var(--small-icon-size) !important;
}

.small-icon-image {
    margin: auto 0.25rem;
    height: var(--icon-size);
    width: var(--icon-size);
}

.line-icon {
    position: relative;
    margin: auto 0.25rem;
    height: 0.35vh;
    width: 1.25rem;
}

.circle-icon {
    position: relative;
    margin: auto 0.25rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
}