.vscode/
.idea/
*.o
*.ko
*.obj
*.elf
*.log
*.bak
package-lock.json
node_modules/
.DS_Store
Thumbs.db
__pycache__/
Data/*
retenv/*
myenv/*
myenv/*
*.pyc
*.class
*.swp
*filtering.py
*.xlsx
*.xlsb
*.txt
*.csv
*.log
*.json
*.xyz