version: '3.8'

services:
  floodassessment_agent:
    image: ghcr.io/cambridge-cares/floodassessment_agent_debug:1.1.0-SNAPSHOT
    build:
      context: .
      target: debug
    ports:
      - ${DEBUG_PORT}:5678
    volumes:
      # repository name needs to match "agentdir" build arg in docker-compose-build.yml
      - ./floodassessment:/app/floodassessment
