*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea

/feature/routing
/feature/locationtracking
/core/utils/network_config*
/core/utils/developer_config
/core/utils/build
/core/ui/build
/core/data/build
/core/model/build
/core/login/build
/core/login/src/main/res/raw/auth_config_*
/core/network/build
/core/sensor/build
/feature/user/build
/feature/timeline/build
/app/build

*.png