<?xml version="1.0" encoding="UTF-8"?>
<web-app 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		metadata-complete="false" 
		version="3.1">

	<display-name>status_agent</display-name>
	<description>Simple servlet to run KG availability tests and display results.</description>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>StatusAgent</servlet-name>
		<servlet-class>uk.ac.cam.cares.jps.agent.status.StatusAgent</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>StatusAgent</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>