services:
  geoserver-jwt-proxy:
    image: ghcr.io/cambridge-cares/geoserver-jwt-proxy:1.0
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: none
    configs:
      - postgis
      - blazegraph
      - geoserver
    secrets:
      - postgis_password
      - geoserver_password
    networks:
      - stack
