.button {
  width: 100%;

  background-color: transparent;
  border: none;

  color: var(--text-color-links);
}

.button:hover {
  color: var(--text-color-links-hover);
}

.button-padding {
  padding: 0.5rem 0 0.5rem 2rem;
}