.button {
  width: 100%;
  height: 50px;
  padding-left: 20px;

  background-color: transparent;
  border: none;

  color: var(--text-color-links);
}

.button:hover {
  color: var(--text-color-links-hover);
}