version: "3.8"

services:
  hplc_agent:
    image: ghcr.io/cambridge-cares/hplc_agent:1.0.0-SNAPSHOT
    container_name: hplc_agent
    environment:
      LOG4J_FORMAT_MSG_NO_LOOKUPS: "true"
      EMAIL_AUTH_JSON_PATH: /run/secrets/email_auth
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 7000:5000
    extra_hosts:
      - host.docker.internal:host-gateway
    env_file:
      - ./hplcagent/tests/agent.hplc.env.test
    secrets:
      - email_auth
    volumes:
      - type: bind
        source: ./hplcagent/tests/_for_docker_integration_test
        target: /app/CHEM32
    entrypoint: ["gunicorn", "--bind", "0.0.0.0:5000", "hplcagent:create_app()", "--preload"]

  # Blazegraph
  blazegraph:
    image: ghcr.io/cambridge-cares/blazegraph:1.1.0
    container_name: "blazegraph_hplc_test"
    ports:
      - 48082:8080
    environment:
      BLAZEGRAPH_PASSWORD_FILE: /run/secrets/blazegraph_password
    # Add a secret to set the password for BASIC authentication
    secrets:
      - blazegraph_password

  # File server
  fileserver:
    image: ghcr.io/cambridge-cares/fileserver:1.1.0
    container_name: "fileserver_hplc_test"
    ports:
      - 48086:8080
    # Add secret to set BASIC authentication password
    secrets:
      - file_server_password

# Secrets used to set runtime passwords
secrets:
  blazegraph_password:
    file: ./hplcagent/tests/dummy_services_secrets/blazegraph_passwd.txt
  file_server_password:
    file: ./hplcagent/tests/dummy_services_secrets/fileserver_passwd.txt
  email_auth:
    file: hplcagent/tests/dummy_services_secrets/email_auth.json
