.infoPanelContainer {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.infoHeadSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.infoHeadSection h2 {
  font-size: 1.1rem;
}

.infoSection {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  /* Allow sections to adjust their height if needed */
  margin-top: 0.5rem;
  padding: 0 0.5rem 1rem;
  border-style: solid;
  border-color: var(--border-secondary);
  border-width: 0px 0px 1px 0px;
  overflow-y: auto;
  /* Enable vertical scrolling for the info section */
}

.infoSection:hover {
  background-color: var(--background-secondary);
}

.treeEntry {
  margin: 0.2rem 0 0.4rem;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treeEntryHeader {
  display: flex;
  flex-direction: row;
}

.treeHeaderName {
  width: 100%;
  font-size: 0.95rem;
  border-style: solid;
  border-color: var(--border-secondary);
  border-width: 0px 0px 1px 0px;
}

/* Attribute Styling */
.treeAttributeEntry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.9rem;
  overflow-wrap: break-word;
  margin: 0.2rem 0;
}

.treeAttributeValue {
  color: var(--text-color-secondary);
  margin-left: auto;
}

/*
Loading 
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}