.infoPanelContainer {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
  }
  
  .infoSection { 
    width: 100%;  
    box-sizing: border-box;
    flex-grow: 1; /* Allow sections to adjust their height if needed */
    padding: 10px; 
    border-style: solid;
    border-color: var(--border-secondary);
    border-width: 0px 0px 1px 0px;
  }
  
  .infoSection:hover {
    background-color: var(--background-secondary);
  }
  
  .infoSection h3 {
    font-size: 14pt; /* Larger than layer tree items */
    color: var(--text-color-primary);
  }