.legendContainer {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.legendContainer h2 {
  font-size: var(--font-size-h2);
}

.legendGroup {
  width: 100%;
  display: block;
  flex-direction: column;
  margin-bottom: 4px;
  box-sizing: border-box;
  padding: 6px;
}

.legendGroup:hover {
  background-color: var(--background-secondary);
}

.legendEntryHeader {
  display: grid;
  grid-template-columns: 1.6rem calc(100% - 1.6rem);
  gap: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
}

.header
{
  font-size: var(--font-size-primary-text);
}

.legendEntryDescription {
  font-size: var(--font-size-secondary-text);
}