#######################################
## The World Avatar related packages ##
#######################################
py4jps==1.0.38
pyderivationagent==1.6.0

##########################
## Third-party packages ##
##########################
configobj==5.0.8
fire==0.4.0
Flask==2.1.0
werkzeug==2.2.2
darts==0.21.0
pandas==1.5.3
pytorch-lightning==1.7.7
requests==2.28.2
torchmetrics==0.9.3