#
# Compose file for the TWA-VP.
#
services:
  # Empty visualisation image for deployment.
  base:
    image: ghcr.io/cambridge-cares/twa-vf
    container_name: "twa-vf"
    restart: "no"
    secrets:
      - mapbox_username
      - mapbox_api_key
    build:
      context: .
      dockerfile: "Dockerfile"
      target: production
      labels:
        authors: "support@cmcl.io"
        description: "TWA Visualisation Platform image."
    volumes:
      - ./uploads:/twa/public/
    ports:
      - "3000:3000" 
  
  latest:
    extends: base
    image: ghcr.io/cambridge-cares/twa-vf:latest
    profiles: ["build-only"]

  semantic-snapshot:
    extends: base
    image: ghcr.io/cambridge-cares/twa-vf:${MAJOR}.${MINOR}.${PATCH}-${SNAPSHOT}
    profiles: ["build-only"]

  major-snapshot:
    extends: base
    image: ghcr.io/cambridge-cares/twa-vf:${MAJOR}-${SNAPSHOT}
    profiles: ["build-only"]

  snapshot:
    extends: base
    image: ghcr.io/cambridge-cares/twa-vf:${SNAPSHOT}
    profiles: ["build-only"]

secrets:
    mapbox_username:
      file: ./mapbox_username
    mapbox_api_key:
      file: ./mapbox_api_key
