<!DOCTYPE html>

</html>
<html>

<head>
</head>

<!------------------------------------------------------------------------------------------------------------------------------->

<body><b>Functionality: <br></b>

    The <b>lsoacalculationagent_fuel_emission</b> offers the following function via the specified API endpoints:<br><br>Request
    to calculate the fuel emission, generate dataframe of total emission, gas emission and electricity emission in JSON format, based on given annual consumption of gas & electricity (GET request):<br>(request expects all
    individual query parameter to be provided in a single nested JSON object with key 'query', see details
    below):<br>&nbsp;&nbsp; <a href="/api/lsoacalculationagent_fuel_emission/calculation/fuel_emission">
        /api/lsoacalculationagent_fuel_emission/calculation/fuel_emission </a> <br><br>

    <!------------------------------------------------------------------------------------------------------------------------------->
    <b>Basics:</b>
    <p>
        <div style="text-align:center;">
          <table style="display: inline-block;">
            <tr>
                <td rowspan="1" style="text-align: center; padding: 0px 8px;">
                    Fuel emission &nbsp;= <u>Electricity Consumption &times; Electricity carbon index</u> + <u>Gas Consumption &times; Gas carbon index</u>
                </td>
            </tr>
            <tr>
                <td colspan="" style="text-align: center; padding: 0px 8px;">
                Electricity emission &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gas emission
                </td>
            </tr>
          </table>
        </div>
      </p>
      <b>NOTE:</b> builded python function to call this agent can be found on: <a href="https://github.com/cambridge-cares/TheWorldAvatar/blob/dev-heat-pump-migration-to-stack-3/Agents/LSOAOutputAgent/agent/datacalculation/datacalculation.py">
        call_fuel_emission_agent </a><br>
    <!------------------------------------------------------------------------------------------------------------------------------->
    <b>Example query:</b><br>
    <div style="text-indent: 25px;"> <code>query = {<br> </code>
        <div style="text-indent: 50px;"><code>       'query':{'df_electricity': df_electricity ,<br></code>
            <div style="text-indent: 120px;">
                <code>                 'df_gas': df_gas<br></code>
                <div style="text-indent: 120px;">
                    <code>                 'year': '2020'<br></code>
                <div style="text-indent: 48px;">
                    <code>                 <em>(optional)</em>'annual': False<br></code>
                <div style="text-indent: 100px;"><code>               }<br></code>
                    <div style="text-indent: 50px;"><code>       }</code><br>
                        <!------------------------------------------------------------------------------------------------------------------------------->
                        <div style="text-indent: 50px;"> <br><b>Arguments:</b><br>
                            <div style="text-indent: 25px;">
                                <li><b>df_electricity:</b> two-column data frame, the first column (i.e. at position [0]) should be occupied with LSOA code as identifiers,
                                    respectively, the annual electricity consumption data should be placed at the second column (i.e. at position [1]) using the unit of <b>kWh</b>
                                        <div style="text-indent: 25px;"> </div>
                                </li><br>
                                <li><b>df_gas:</b> two-column data frame, the first column (i.e. at position [0]) should be occupied with LSOA code as identifiers,
                                    respectively, the annual gas consumption data should be placed at the second column (i.e. at position [1]) using the unit of <b>kWh</b><br>
                                    <div style="text-indent: 25px; font-size: smaller;"><em><b>NOTE:</b> if df_electricity, df_gas are both provided, the output will return total emission, electricity emission and gas emission
                                        . If only one of them are provided, the output will only return the respective emission.
                                        <div style="text-indent: 70px;">column names don't matters as long as the position is correct</div>
                                    </em></div>
                                    <div style="text-indent: 25px; font-size: smaller;"><b>Example input df_electricity/df_gas:</b></div>
                                    <table style="margin-left: 50px; font-size: smaller;">
                                        <thead>
                                          <tr style="text-align: right;">
                                            <th></th>
                                            <th>LSOA_code</th>
                                            <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                            <th>Electricity consumption</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>0&nbsp;&nbsp;</td>
                                            <td>E01011954</td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                            <td>1000</td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td>E01011969</td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                            <td>1000</td>
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td>E01011970</td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                            <td>1000</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                        <div style="text-indent: 25px;"> </div><br>
                                                <li><b>year:</b> 'year' will be used to parse index from the web.
                                                    Including the fuel carbon indices, monthly consumptions, which will be used to calculate fuel emission and monthly disaggregation<br>
                                                    <div style="text-indent: 25px; font-size: smaller;"><em><b>NOTE:</b> the source files will be downloaded into <code>./downloads</code> folder.
                                                    </em></div><br>
                                                    <li><b>annual:</b> If provided as True, the second column will include the annual value (with monthly data)
                                                        if not provided, or False, only monthly value will be returned <br>
                                                <!------------------------------------------------------------------------------------------------------------------------------->
                                                <div style="text-indent: 50px;"> <br><b>Example return:</b><br>
                                                    <div style="text-indent: 50px;">
                                                        <code>return = {'df_emission_total': df_emission_total, <br>
                                                            <div style="text-indent: 120px;">'df_emission_elec': df_emission_elec, <br></div>
                                                            <div style="text-indent: 120px;">'df_emission_gas': df_emission_gas <br></div>
                                                        </code>
                                                        <div style="text-indent: 120px;">
                                                            <div style="text-indent: 100px;"><code>       }</code><br>
                                                            </div>
                                                            <div style="text-indent: 25px; font-size: smaller;"><em><b>NOTE:</b> Return dataframe which have first column as LSOA code, and the annual emission (if 'annual' = True when inputting data), and the following 12
                                                                columns for each month's data. The unit of the emission is in <b>kgCO2eq</b>.</em><br></div>
                                                                <div style="text-indent: 25px; font-size: smaller;"><b>Example output df_emission:</b></div>
                                                                <table style="margin-left: 50px; font-size: smaller;">
                                                                    <thead>
                                                                      <tr style="text-align: right;">
                                                                        <th></th>
                                                                        <th>LSOA_code</th>
                                                                        <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                                                        <th>Annual emission</th>
                                                                        <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                                                        <th>January</th>
                                                                        <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                                                        <th>Febuary</th>
                                                                        <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                                                        <th>...</th>
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                      <tr>
                                                                        <td>0&nbsp;&nbsp;</td>
                                                                        <td>E01011954</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>1000</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>100</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>100</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>1</td>
                                                                        <td>E01011969</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>1000</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>100</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>100</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>2</td>
                                                                        <td>E01011970</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>1000</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>100</td>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                                                        <td>100</td>
                                                                      </tr>
                                                                    </tbody>
                                                                </table>
                                                            <br>
                                                        </div>
                                                    </div>
                                </li>
                            </div> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>