# Ports should be set as USER_PORT_BASE<N> where <N> is a number between 0 and 99
ADMINER_PORT=USER_PORT_BASE1
GEOSERVER_PORT=USER_PORT_BASE4
ONTOP_PORT=USER_PORT_BASE6
POSTGRES_PORT=USER_PORT_BASE7

# ./scripts/generate_env_file.sh sets these to to the output of 'hostname' when podman-compose is installed, 'host.docker.internal' otherwise
ONTOP_HOST=CONTAINER_HOST
POSTGRES_HOST=CONTAINER_HOST
GEOSERVER_HOST=CONTAINER_HOST

DEFAULT_DATABASE=PROJECT_ID
GEOSERVER_WORKSPACE=PROJECT_ID
NETWORK_NAME=PROJECT_ID

# Shared data directory
# SHARED_DATA_DIR_HOST=./shared_data
SHARED_DATA_DIR_HOST=./data_sets/pubchem/shared_data/
SHARED_DATA_DIR=/data/inputs
GEOTIF_DIR=/geotifs

# Geoserver options
GEOSERVER_DATA_DIR=/var/geoserver/datadir
GEOSERVER_LOG_DIR=/var/geoserver/logs
GEOSERVER_VERSION=2.19.3
GEOWEBCACHE_CACHE_DIR=/var/geoserver/gwc
GEOWEBCACHE_CONFIG_DIR=/var/geoserver/gwc_config
GRIB_CACHE_DIR=/var/geoserver/grib_cache
NETCDF_DATA_DIR=/var/geoserver/netcfd

# Ontop
ONTOP_DEV_MODE=True
ONTOP_LAZY_INIT=True
ONTOP_POSTGRES_VERSION=42.2.14.jre7
ONTOP_VERSION=4.1.1
