#
# This file lists the library requirements for the scripts that
# will be copied into the Gas Grid Agent Image.
#
# At the time of writing, only requirements for the following 
# scripts are covered:
#
#	- real_time_terminal_population/teminal-update.py
#	- geoJSON_output_agent/all_offtakes_to_geojson.py
#	- geoJSON_output_agent/all_pipes_query_to_geojson.py
#	- geoJSON_output_agent/all_terminals_to_geojson.py
#

bs4==0.0.1
numpy==1.21.2
pandas==1.3.3
py4jps==1.0.3
requests_html==0.10.0
SPARQLWrapper==1.8.5
tabulate==0.8.9
tqdm==4.62.2
wget==3.2