# Ports should be set as USER_PORT_BASE<N> where <N> is a number between 0 and 99
ADMINER_PORT=USER_PORT_BASE1
BLAZEGRAPH_PORT=USER_PORT_BASE2
FLOODVIS_PORT=USER_PORT_BASE3
GEOSERVER_PORT=USER_PORT_BASE4
LIB_OFF_PORT=USER_PORT_BASE5
ONTOP_PORT=USER_PORT_BASE6
POSTGRES_PORT=USER_PORT_BASE7
QGIS_SSH_PORT=USER_PORT_BASE8
RDF4J_PORT=USER_PORT_BASE9
WEBVOWL_PORT=USER_PORT_BASE10

# ./scripts/generate_env_file.sh sets this to 'localhost' when podman-compose is installed, 'host.docker.internal' otherwise
POSTGRES_HOST=CONTAINER_HOST

# Shared data directory
SHARED_DATA_DIR_HOST=./shared_data
SHARED_DATA_DIR=/shared_data

# Geoserver options
GEOSERVER_DATA_DIR=/var/geoserver/datadir
GEOSERVER_LOG_DIR=/var/geoserver/logs
GEOSERVER_VERSION=2.19.2
GEOWEBCACHE_CACHE_DIR=/var/geoserver/gwc
GEOWEBCACHE_CONFIG_DIR=/var/geoserver/gwc_config
GRIB_CACHE_DIR=/var/geoserver/grib_cache
NETCDF_DATA_DIR=/var/geoserver/netcfd

# Ontop
ONTOP_DEV_MODE=True
ONTOP_POSTGRES_VERSION=42.2.14.jre7
ONTOP_VERSION=4.1.1

# Temporarily set variables usually handled by the wrapper script
CONTAINER_NAME_SUFFIX=_credo
NETWORK_NAME=credo