.globalContainer {
  background-color: var(--background-primary);
  color: var(--text-color-primary);
  position: relative;
  max-height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  position: relative;
  top: 0;
  width: 100%;
}

.contentContainer {
  overflow: auto;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.optionContainer {
  width: 100%;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  text-align: justify;
  border-style: solid;
  border-color: var(--border-primary);
  border-width: 1px 0 0;
  color: var(--text-color-primary);
  background: var(--background-secondary);
}

.optionContainer:hover {
  background: var(--background-tertiary);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media (max-width: 430px) {
  .icon-container {
    display: none;
  }
}

.icon {
  padding: 1rem;
  height: 7rem;
  width: 7rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
}

.title {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 0.5rem 0;
}

.description {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.refreshButton {
  margin-left: 'auto';
  color: var(--text-color-links) !important
}