.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--text-color-primary);
  background: var(--background-primary);
}

.option-container {
  display: grid;
  grid-template-columns: auto 1fr;
  /* Two columns: auto for circle, 1fr for content */
  gap: 20px;
  /* Gap between columns */
  align-items: start;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 10vw;
}

.icon {
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  border: 2px solid var(--text-color-links);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 1.2rem;
  text-decoration: underline;
}

.description {
  font-size: 0.9rem;
}

.refreshButton {
  margin-left: 'auto';
  color: var(--text-color-links) !important
}