.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--background-inverse-primary-rgb), 0.6);
  z-index: 99999;
}

.modal {
  display: flex;
  height: 90vh;
  width: 70vw;
}

@media only screen and (max-width: 480px) {
  .modal {
    width: 100vw;
  }
}