version: '3.8'
services:
  stack-data-uploader:
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: none
    environment:
      - "STACK_NAME=${STACK_NAME}"
      - "EXECUTABLE=${EXECUTABLE}"
      - "API_SOCK=${API_SOCK}"
    security_opt:
      - label=disable
    volumes:
      - scratch:/stack_scratch:z
      - $API_SOCK:/var/run/docker.sock
    networks:
      - stack
    labels:
      - "com.docker.compose.project=${STACK_NAME}"

volumes:
  scratch:
    name: ${STACK_NAME}_scratch
    labels:
      - com.docker.stack.namespace=${STACK_NAME}

networks:
  stack:
    name: ${STACK_NAME}
    driver: overlay
    external: true

secrets:
  blazegraph_password:
    name: ${STACK_NAME}_blazegraph_password
    external: true
  postgis_password:
    name: ${STACK_NAME}_postgis_password
    external: true
  geoserver_password:
    name: ${STACK_NAME}_geoserver_password
    external: true
