.layerTreeContainer {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.treeEntry {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.treeEntryHeader {
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    
    padding-right: 4px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;

    border-style: solid;
    border-color: var(--border-secondary);
    border-width: 0px 0px 1px 0px;
}
.treeEntryHeader:hover {
    background-color: var(--background-secondary);
}

.icon {
    width: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon span {
    font-size: 18pt;
    color: var(--text-color-primary);
}
.icon svg {
    padding: 2px;
}
.icon.small span {
    font-size: 14pt;
}
.treeIcon {
    pointer-events: none;
}

.textContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    pointer-events: none;
}
.textContainer span {
    font-size: 11pt;
}