git+https://github.com/cambridge-cares/TheWorldAvatar@main#subdirectory=Agents/utils/python-utils
git+https://github.com/cambridge-cares/TheWorldAvatar@134-dev-lab-equipment-digital-twin#subdirectory=Agents/utils/chemistry-and-robots
pyderivationagent
pandas
pydantic
testcontainers
pytest
pytest-docker-compose
pytest-rerunfailures
