//
   Created by Shaocong on 6/2/2017.
html
head
    block title
    block sheets
    link(rel="stylesheet" href='/stylesheets/header.css')

body
    div(class="jumbotron text-center" id="topBanner")
        div(class="col-md-4")
            a(href = "http://www.cares.cam.ac.uk/node/454#overlay-context=c4t-researchs")
                img(float="left" src="/images/cam_lang_negativ1 NEW_0.png"  href = "http://www.cares.cam.ac.uk/node/101")
        div(class="col-md-8")
            h1(id="head1") J-Park Simulator:&nbsp;
                span
                    block subtitle
            p(id="description")
                block description

    block content