//
   Created by Shaocong on 6/2/2017.
html
head
    block title
    block sheets
    link(rel="stylesheet" href='/stylesheets/header.css')

body
    div(class="jumbotron text-center" id="topBanner")
        img(float="left" src="/images/cam_lang_negativ1 NEW_0.png"  href = "http://www.cares.cam.ac.uk/node/101")
        h1(id="head1") J-Park Simulator
        p(id="description") cross-domain modelling and data storage with an ontology-based expert system to produce a next-generation tool for the design, analysis and operation optimisation of eco-industrial parks

    block content