extends header.pug
block title
    title  World Power Plants on Google Map

block sheets
    link(rel="stylesheet" href='/stylesheets/mpage.css')

block subtitle

    |World Power Plants on Google Map

block description
    |The World Power Plants data is obtained from Global Energy Observatory (GEO)
    |Only Coal, Natural Gas, Diesel Oil, Nuclear and Wind Powerplants are shown.

block content

    div#wrapper
        div.overlay-panel-wrapper
            div#overlay-setting-panel.panel.panel-default
                div.panel-heading Run
                div.panel-body.container-fluid
                    div#setting-panel-body
                        button#run-btn.btn.btn-primary Run Simulation

                        div#text-panel
                        div#result-panel
                        div#draw-panel

        div#map


    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
    script(src="/javascripts/PopUpmap.js")
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="/javascripts/Heatwaste.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnIPTFH_vdwakGsRIXJMwHvAJ3DhiWlvE&callback=initMap")