extends header.pug
block title
    title Visualization

block sheets
    link(rel="stylesheet" href='/stylesheets/visual.css')
    link(rel="stylesheet" href='/stylesheets/jquery-ui.min.css')

block subtitle
        |Visualization


block description
    |A tool to display the ontology based wealth of data present in J-Park Simulator.

block content
    body
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')

        script(src="https://d3js.org/d3.v4.min.js")
        script(src="/javascripts/d3.legend.js")
        script(src="/javascripts/d3Bubble.js")

        input(
        type = "hidden"
        id = 'data'
        value = result
        )
    //choice panel
    div(class='col-sm-1' id="choice-div")
        div(class="panel panel-default" id="choice-panel")
            div(class="panel-body")
                div(class="checkbox")
                    input(type="radio" name="option" id="checkShowImport" value="")
                    label Show Import
                    br
                    input(type="radio" name="option" id="checkShowServiceOnly" value="")
                    label Show Agents Only
                    br
                    input(type="radio" name="option" id="checkdefault" value="")
                    label Show Default
                //coordinates search
                //- TODO:to be rearranged
                div#coordinate-search-panel
                    label Center x:
                    input(type="text" id="search-center-x" value="")
                    label Center y:
                    input(type="text" id="search-center-y" value="")
                    label Radius:
                    input(type="text" id="search-radius" value="")
                    button(type="button" id= "search-submit" class="btn btn-primary") Search


    div(class='col-sm-12' id="draw-panel")
