body {
	overflow: hidden;
	background-color: #191A1A;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.mapboxgl-popup-content {
	text-align: center;
	font-size: 9pt;
	min-width: 150px;
	max-width: 300px;
	height: 65px;
}
.mapboxgl-popup-content p {
	font-style: italic;
	color: grey;
}

#tiltShift {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
}
body.effectsOff #tiltShift body.effectsOff #map {
	filter: none !important;
	-webkit-filter: none !important;
}

#legendContainer {
	bottom: 20px !important;
	min-height: 85px;
}

#legend {
	text-align: left;
	font-size: 11pt;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
	border: 1px solid lightgrey;
	line-height: 24px !important;
}
#legend img {
	float: left;
	margin-left: 6px;
	margin-right: 6px;
}
#legend .legend-sdg {
	text-align: middle;
	float: none;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
}
#legend p {
	float: left;
}

#UKInteractiveMap {
	height: 180px;
}

a:link {
	color: #FF0000;
}

a:visited {
	color: #00FF00;
}

a:hover {
	color: #FF00FF;
}

a:active {
	color: #0000FF;
}