# postgres credentials
db.url = 
db.user = 
db.password = 
# triple-store credentials 
kg.url = 
kg.user = 
kg.password = 
# directory for GeoJSON/JSON output files for visualisation
outputdir = 
# apikey for mapbox
apiKey =