.left {
    float: left;
}

.right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

