version: "3.8"

services:
  cea-agent:
    container_name: cea-agent
    image: ghcr.io/cambridge-cares/cea-agent:3.1.0-1682-SNAPSHOT
    build: .
    environment:
      LOG4J_FORMAT_MSG_NO_LOOKUPS: "true"
    ports:
      - "58085:8084"
    volumes:
        - ./cea-agent/src/main/resources/CEAAgentConfig.properties:/resources/CEAAgentConfig.properties