version: "3.8"

services:
  bms-update-agent:
    image: bms-update-agent:1.0.0-SNAPSHOT
    build: .
    environment:
      CLIENT_PROPERTIES: "/app/config/client.properties"
    volumes:
      - ./config:/app/config